@use "../luxfocus";
@use "../luxpalette";
@use "../luxcommon";
@use "../luxbreakpoints";
@use "sass:map";

lux-breadcrumb {
  padding: 8px; //Für Focusindicator
  margin: 20px 0 36px 0; //Stylevorgaben
  display: flex;
  box-sizing: border-box;

  @include luxbreakpoints.lt-md {
    margin: 14px 0;
  }

  .lux-breadcrumb {
    margin: -8px; //Fü Focusindicator
    padding: 8px;
    display: inline-flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: flex-start;
    gap: 9px;
    align-items: baseline;
    overflow: auto;
    max-width: 100%;
  }

  .lux-breadcrumb-container {
    padding: 0%;
    margin: 0px -2px;
  }

  .lux-breadcrumb-item {
    display: inline-flex;
    font-family: luxcommon.$app-font-family;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: underline;
    color: var(--lux-theme-primary-color);
    list-style-type: none;
    box-sizing: border-box;

    &.lux-breadcrumb-item-mobile {
      font-size: 1rem;
      gap: 6px;
    }

    :focus-visible {
      @include luxfocus.focus-dark-mixin;
      border-radius: 2px;
    }

    :hover {
      color: luxcommon.$lux-hover-color;
      text-decoration: underline;
      cursor: pointer;
    }

    lux-icon {
      cursor: default;
      :hover {
        color: var(--lux-theme-primary-color);
        cursor: default;
      }
    }

    a {
      padding: 2px 4px;
      color: var(--lux-theme-primary-color);
      margin: 0px -2px;
      white-space: nowrap;
    }
  }

  .lux-breadcrumb-current-item {
    font-family: luxcommon.$app-font-family;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--lux-theme-primary-color);
    list-style-type: none;
    padding: 4px;
    box-sizing: border-box;

    &.lux-breadcrumb-current-item-mobile {
      font-size: 1rem;
    }
  }
}
