@use "../luxcommon";
@use "../luxpalette";
@use "../luxfocus";
@use "../luxbreakpoints";
@use "../luxelevations";
@use "sass:map";

lux-message-box {
  display: block;
  overflow: hidden;
  border-radius: 4px;

  &.mat-elevation-z4 {
    @include luxelevations.lux-elevation-z0();
  }

  & .lux-message-box-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    & .lux-message-container {
      display: grid;
      grid-template-columns: 52px 1fr 36px;
      align-items: center;

      padding: var(--lux-theme-outline-width) 24px;
      border-radius: 4px;

      &.lux-bg-color-white {
        // da im Theme authentic der Schatten entfernt wurde, muss eine Weiße Messagebox eine Border erhalten.
        border: 1px solid luxpalette.$lux-primary-color;
        box-sizing: border-box;

        & lux-button button.lux-button.mat-mdc-fab.lux-fab-rounded-default:not([class*="mat-elevation-z"]) {
          color: luxpalette.$lux-primary-color;
        }
      }

      & lux-button {
        button.lux-button.mat-mdc-fab.lux-fab-rounded-default:not([class*="mat-elevation-z"]) {
          color: #fff;
          background-color: transparent;
          @include luxelevations.lux-elevation-z0();
        }

        .mat-mdc-button-ripple {
          display: none;
        }
      }

      & lux-icon:not(.lux-button-icon, .lux-button-icon-round) {
        display: contents;

        mat-icon.lux-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
    lux-message:not(:last-child) {
      .lux-message-container {
        margin-bottom: 1px;
      }
    }
  }

  mat-paginator {
    & .mat-paginator-container {
      padding: 0 20px !important;
    }
  }
}

/** ########## Hover / Focus  ########## **/
lux-message-box {
  & div.lux-message-box-content {
    &:focus-visible {
      @include luxfocus.focus-dark-mixin;
    }

    .mat-mdc-fab.mat-unthemed,
    .mat-mdc-mini-fab.mat-unthemed {
      background-color: transparent;
    }

    & .lux-message-container.lux-bg-color-white {
      & .lux-message-text:focus-visible {
        @include luxfocus.focus-dark-mixin;
        border-radius: 4px;
      }

      & lux-button button.lux-button.mat-mdc-fab:not([disabled]).lux-fab-rounded-default {
        &:hover {
          color: #ffffff;
          background-color: luxpalette.$lux-primary-color !important;
        }

        &:focus-visible {
          @include luxfocus.focus-dark-mixin;
          background-color: transparent !important;
        }
      }
    }

    & .lux-message-container:not(.lux-bg-color-white) {
      & .lux-message-text:focus-visible {
        @include luxfocus.focus-bright-mixin;
        border-radius: 4px;
      }

      & lux-button button.lux-button.mat-mdc-fab:not([disabled]).lux-fab-rounded-default {
        &:hover {
          color: white;
          background-color: rgba(1, 1, 1, 0.2) !important;
        }

        &:focus-visible {
          @include luxfocus.focus-bright-mixin;
          color: white;
          background-color: transparent !important;
        }
      }
    }
  }
}
