@use "sass:map";
@use "../luxpalette";
@use "../luxcommon";
@use "../luxfocus";
@use "../luxbreakpoints";

lux-tabs {
  .mat-tab-nav-bar,
  .mat-tab-header {
    border-color: luxcommon.$app-border-color;
    font-size: 1rem;
  }

  .mat-mdc-tab-label-container {
    border: none;
  }

  .mdc-tab {
    padding-left: 0;
    padding-right: 0;
  }

  mat-tab-group div[role="tab"] {
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: normal;
    min-height: unset !important;
    height: unset !important;
    &:not(.mat-tab-disabled) .mdc-tab__text-label {
      color: map.get(luxpalette.$lux-palette_primary, 500);
      opacity: 1;
    }
  }

  mat-tab-group.lux-tabs-show-divider mat-tab-header {
    border-bottom: 1px solid luxcommon.$app-border-color;
  }

  .lux-tab-title {
    margin-top: 3px;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  .lux-notification-read {
    visibility: hidden;
  }

  .lux-counter-offset {
    margin-right: -7px;
  }

  .lux-label-lower {
    padding-top: 4px;
  }

  .lux-notification-new {
    background-color: map.get(luxcommon.$componentBgColors, "green");
  }

  .lux-tabs-notification-icon {
    border: 2px solid #ffffff;
  }

  .lux-locked {
    pointer-events: none;
    background: red;
    color: red;
  }

  .lux-tabs-show-border {
    border: 1px solid luxcommon.$app-border-color;
    border-radius: 4px;
    background-color: luxcommon.$app-content-bg;
  }

  // Anpassungen für kleine Screensizes
  .mdc-tab__text-label {
    padding-left: 48px;
    padding-right: 48px;
    height: auto;
    position: relative;

    @include luxbreakpoints.sm {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include luxbreakpoints.xs {
      padding-left: 30px;
      padding-right: 30px;
    }

    mat-chip {
      background: white !important;
    }
  }

  .mat-mdc-tab-label.lux-tab-with-icon {
    @include luxbreakpoints.sm {
      min-width: 125px;
      width: 125px;
    }

    @include luxbreakpoints.xs {
      min-width: 90px;
      width: 90px;
    }
  }

  // luxCounter (z.B. 10) neben dem Tablabel auf normalen bis großen Auflösungen
  .lux-tab-group .lux-tab-title.lux-badge-notification {
    &.mat-badge.lux-badge-no-border .mat-badge-content {
      left: unset;
      bottom: unset;
      top: 6px;
      right: -30px;
    }
  }

  // luxCounter (z.B. 10) neben dem Icon auf kleineren Auflösungen
  .lux-tab-group lux-icon.lux-badge-notification,
  .lux-tab-group lux-image.lux-badge-notification {
    &.mat-badge.lux-badge-no-border .mat-badge-content {
      left: unset;
      bottom: unset;
      top: 20px;
      right: -22px;
    }
  }
  .lux-tab-header-image-right,
  .lux-tab-header-image-left {
    flex: 1 1 auto;
    box-sizing: border-box;
  }
  .lux-tab-icon {
    flex: 0 0 auto;
    box-sizing: border-box;
  }
  .lux-tabs-notification-icon {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 9px;
    box-sizing: border-box;
    flex: 0 0 auto;
    &.lux-counter-visible {
      z-index: 1;
    }
  }

  // Notificationicon neben dem Tablabel auf normalen bis großen Auflösungen
  .lux-tabs-notification-icon-position-after-label {
    top: 0;
    right: -18px;

    &.lux-counter-visible {
      top: -10px;
      right: -39px;
    }
  }
  // Notificationicon neben dem Icon auf kleineren Auflösungen
  .lux-tabs-notification-icon-position-after-icon {
    top: 10px;
    right: 30px;

    @include luxbreakpoints.sm {
      top: 10px;
      right: 30px;
    }

    @include luxbreakpoints.xs {
      top: 10px;
      right: 15px;
    }

    &.lux-counter-visible {
      top: 10px;
      right: 0;

      @include luxbreakpoints.sm {
        top: 10px;
        right: 17px;
      }

      @include luxbreakpoints.xs {
        top: 10px;
        right: 0;
      }
    }
  }
}

/** ########## HOVER / FOCUS ########## **/
lux-tabs,
mat-card lux-tabs {
  mat-tab-group div[role="tab"]:not(.mat-mdc-tab-disabled) {
    &:focus-visible {
      @include luxfocus.focus-dark-mixin-inline;
      border-radius: luxcommon.$app-border-radius;
    }

    &:hover {
      background-color: transparent;

      &:not(.mdc-tab--active) .lux-tab-title,
      &:not(.mdc-tab--active) lux-icon {
        color: luxcommon.$lux-hover-color;
      }
    }

    &:hover .mdc-tab__ripple::before {
      background-color: transparent;
    }
  }

  .mdc-tab-indicator__content {
    background-color: map.get(luxpalette.$lux-palette_primary, 500) !important;
    height: 4px;
    border-radius: luxcommon.$app-border-radius;
  }
}
