@use "sass:map";
@use "../luxcommon";
@use "../luxpalette";
@use "../../public/global";
@use "../luxelevations";
@use "../luxfocus";
@use "../../base/luxSvgIcons" as luxicons;

/*
 * Theming for LUX-Select
 */
lux-select-ac,
lux-lookup-combobox-ac {
  mat-select {
    font-family: luxcommon.$app-font-family;
    height: calc(1.5em - 1px) !important;
    // bisher noch nicht klar, warum das mat-select einen Pixel an Höhe mehr beansprucht, als es tatsächlich Hoch ist
    // daher wird hier die Höhe korrigiert, damit die Baseline eingehalten ist

    .mat-select-arrow-wrapper {
      margin-left: 2px;
      height: 24px;
      width: 24px;

      .mat-select-arrow {
        border: none;
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: luxpalette.$lux-primary-color;
        -webkit-mask: url(luxicons.$arrow-button-down);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: cover;
        mask: url(luxicons.$arrow-button-down);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
      }
    }

    &[aria-disabled="true"] .mat-select-arrow {
      background-color: luxcommon.$dark-disabled-text;
    }

    &[aria-disabled="false"] .mat-select-arrow {
      background-color: luxpalette.$lux-primary-color;
    }
  }
}

// Checkbox wird im Cdk-Overlay dargestellt und hängt nicht unter der Component selbst.
.lux-select-panel-ac .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
.lux-select-panel-ac-multiple .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full {
  background-color: luxpalette.$lux-primary-color;
}
.cdk-overlay-pane {
  .mat-option {
    font-family: luxcommon.$app-font-family;
  }
  .mat-autocomplete-panel.lux-autocomplete-panel-ac,
  .mat-autocomplete-panel.lux-autocomplete-panel-dense-ac,
  .mat-select-panel.lux-select-panel-ac,
  .mat-select-panel.lux-select-panel-ac-multiple {
    border: 2px solid luxpalette.$lux-primary-color;
    border-radius: 4px;
    box-shadow: none !important;

    .mat-pseudo-checkbox {
      color: luxpalette.$lux-primary-color;
    }
  }

  .mat-autocomplete-panel.lux-autocomplete-panel-ac,
  .mat-autocomplete-panel.lux-autocomplete-panel-dense-ac {
    min-width: calc(100% + 14px) !important;
    max-width: calc(100% + 14px) !important;
    margin: 13px -9px 0px;
  }
  .mat-autocomplete-panel.lux-autocomplete-panel-dense-ac {
    margin-top: 7px;
  }
}

/*
* Theming für Lux-Checkbox
*/
lux-checkbox-ac {
  label {
    font-family: luxcommon.$app-font-family;
    font-size: luxcommon.$form-control-font-size;
    color: luxcommon.$dark-primary-text;
    cursor: pointer;

    .mat-checkbox-label {
      -ms-word-break: break-word;
      word-break: break-word;
      white-space: normal;
    }
  }

  .mat-checkbox-ripple {
    display: none;
  }
  .mat-checkbox-inner-container {
    // die Checkbox soll größer sein, als von Material vorgegeben
    width: 1.25em;
    height: 1.25em;
    margin-top: 0.125em;
    .mat-checkbox-frame {
      border-color: luxpalette.$lux-primary-color;
    }
    //bei mehrzeiligen Labels soll die Checkbox oben und nicht zentriert angezeigt werden
    //Deswegen wird hier das Margin-top: auto überschrieben
    //da wir die Größe der Box geändert haben mussten wir das Margin ebenfalls anpassen
    .mat-checkbox-frame {
      border-color: luxpalette.$lux-primary-color;
    }
  }

  & .mat-checkbox-disabled {
    label {
      color: luxcommon.$dark-disabled-text;
    }
    .mat-checkbox-inner-container .mat-checkbox-frame {
      border-color: luxcommon.$dark-disabled-text;
    }
  }
}

lux-datepicker-ac,
lux-datetimepicker-ac {
  mat-datepicker-toggle {
    height: 24px;
    width: 24px;

    .mdc-icon-button.mat-mdc-icon-button.mat-mdc-button-base {
      height: 24px;
      width: 24px;
      padding: 0;

      lux-icon.lux-datepicker-toggle-icon,
      mat-icon.mat-icon {
        height: 24px;
        width: 24px;
        padding: 0px !important;
      }

      &[disabled="true"] {
        svg {
          color: luxcommon.$dark-disabled-text;
        }
      }
    }
  }
}
.cdk-overlay-pane .mat-datepicker-content,
.lux-datetimepicker-overlay .mat-card.lux-card {
  border: 2px solid luxpalette.$lux-primary-color;
  box-shadow: none !important;
  margin: 13px -9px 0;

  & .mat-calendar-header button:hover {
    background-color: #fff !important;
    color: map-get(luxpalette.$lux-palette_primary, 300);
  }
}

/*
* Theming für lux-Toggle
*/
lux-toggle-ac {
  .mat-slide-toggle {
    label {
      color: luxcommon.$dark-primary-text;
      font-family: luxcommon.$app-font-family;
    }
    &.mat-checked .mat-slide-toggle-bar {
      background-color: map-get(luxpalette.$lux-palette_primary, 50);
    }
    .mat-slide-toggle-thumb {
      @include luxelevations.lux-elevation-z1;
    }

    &.mat-disabled {
      //von Material wird beim gesamten Element die Opacity auf 0.38 gesetzt.
      //wir wollen aber nur den "Schalter" änderen, das Label wird bei uns über die Color gesteuert
      opacity: 1;
      .mat-slide-toggle-bar {
        opacity: 0.38;
      }

      .lux-form-label {
        color: luxcommon.$dark-disabled-text;
      }

      &.mat-checked {
        .mat-slide-toggle-bar {
          background-color: luxcommon.$dark-disabled-text;
        }

        .mat-slide-toggle-thumb {
          background-color: #666666;
          // $dark-secondary-text als Hex ohne Transparenz
        }
      }

      &:not(.mat-checked) {
        .mat-slide-toggle-bar {
          background-color: luxcommon.$dark-disabled-text;
          //Hintergrund zur Schriftfarbe anpassen
        }
      }
    }
  }
}

/*
 * Theming for LUX-Radio
 */
lux-radio-ac {
  .mat-radio-container {
    // damit ist der Focus-Indicator rund, wie bei Toggle-Thumb und Chips
    border-radius: 50%;

    span.mat-radio-outer-circle {
      border-color: luxpalette.$lux-primary-color;
    }
  }
  .mat-radio-label {
    color: luxcommon.$dark-primary-text;
    font-family: luxcommon.$app-font-family;
  }

  .mat-radio-checked {
    &.mat-radio-disabled label .mat-radio-container {
      span.mat-radio-inner-circle {
        background-color: luxcommon.$dark-disabled-text;
      }

      span.mat-radio-outer-circle {
        border-color: luxcommon.$dark-disabled-text;
      }
    }
  }

  .mat-radio-group.lux-horizontal {
    row-gap: 0.75em;
  }

  .mat-radio-disabled label.mat-radio-label {
    .mat-radio-label-content {
      color: luxcommon.$dark-disabled-text;
    }

    .mat-radio-container {
      span.mat-radio-inner-circle {
        background-color: luxcommon.$dark-disabled-text;
      }

      span.mat-radio-outer-circle {
        border-color: luxcommon.$dark-disabled-text;
      }
    }
  }
}

/*
 * Theming for LUX-Input/LUX-Textarea
*/
// Umstylen des Standard-Aussehens von Inputs/Textareas
input,
input.mat-input-element,
textarea {
  font: inherit;
  background: 0 0;
  color: currentColor;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  font-size: luxcommon.$form-control-font-size;
}
lux-textarea-ac text-area {
  line-height: normal;
}

/**
 * Theming für LUX-Chips
 */
lux-chips-ac {
  .lux-chips-autocomplete-icon {
    color: var(--lux-theme-primary-500);
    font-size: 24px;
    padding-right: 4px;
    cursor: pointer;

    &.lux-disabled {
      color: var(--lux-theme-dark-disabled-text);
      cursor: default;
    }
  }
  .lux-chips {
    mat-chip {
      // Löschicon (luxSelected=true)
      &.mat-chip-selected .mat-chip-remove {
        color: luxcommon.$app-data-bg !important;
        opacity: 1 !important;
      }

      // Löschicon (luxSelected=false)
      &:not(.mat-chip-selected) .mat-chip-remove {
        color: luxcommon.$app-data-bg !important;
        opacity: 1 !important;
      }

      &.mat-chip-disabled {
        background-color: luxcommon.$dark-disabled-text !important;
        color: luxcommon.$app-data-bg !important;
        opacity: 1;

        lux-icon {
          mat-icon {
            color: luxcommon.$app-data-bg;
          }
        }
      }
    }
    mat-chip-list {
      & div.mat-chip-list-wrapper {
        margin: 0px 0px 0px -4px;
      }
    }
  }

  .lux-hide-input-border .lux-form-control-container-authentic {
    border: none;
    padding: 0;
    box-shadow: none !important; // den Focus-indicator für das Inputausblenden
  }
}
.lux-chips-ac-autocomplete-panel.mat-autocomplete-panel,
.lux-chips-ac-autocomplete-panel-dense.mat-autocomplete-panel {
  margin-top: -22px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 4px;

  box-shadow: none !important;
  border: 2px solid luxpalette.$lux-primary-color;
}
.lux-chips-ac-autocomplete-panel-dense.mat-autocomplete-panel {
  margin-top: -18px;
}

/*
 * Theming for LUX-Slider
 */
lux-slider-ac {
  mat-slider.lux-slider-ac {
    &.mat-slider-horizontal {
      height: 1.5em;
    }
  }
  .lux-show-thumb-label-always {
    &.mat-slider-disabled {
      .mat-slider-thumb-label {
        background-color: luxcommon.$dark-disabled-text;
      }
    }
  }
}
