@use "sass:map";
@use "../luxfocus";
@use "../luxcommon";
@use "../luxpalette";

lux-link-plain {
  display: inline-flex;
  align-items: baseline;
  .link-wrapper {
    display: flex;
    gap: 0.25em;
    align-items: baseline;
    font-family: inherit;
    .lux-link-plain-text {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      text-decoration: inherit;
      color: inherit;
      display: flex;
    }

    lux-icon {
      font-size: inherit;
      display: flex;
      mat-icon.mat-icon.lux-icon {
        padding: 0px !important;
        width: 0.8em;
        height: 0.8em;
        overflow: visible;
      }
    }

    &:focus-visible:not(.lux-disabled) {
      @include luxfocus.focus-dark-mixin;
      border-radius: 2px;
    }
  }

  &.default-style {
    color: map.get(luxpalette.$lux-palette-primary, A700);
    font-family: inherit;
    lux-icon {
      mat-icon {
        color: map.get(luxpalette.$lux-palette-primary, A700);
      }
    }
  }

  &.lux-disabled,
  .link-wrapper.lux-disabled {
    color: luxcommon.$dark-disabled-text;
    cursor: text;
    text-decoration: none;
    lux-icon {
      mat-icon {
        color: luxcommon.$dark-disabled-text;
      }
    }
  }

  &:hover:not(.lux-disabled) {
    color: map.get(luxpalette.$lux-palette-primary, 300);
    text-decoration: underline;
    cursor: pointer;
    lux-icon {
      mat-icon {
        color: map.get(luxpalette.$lux-palette-primary, 300);
      }
    }
  }
}
