@use "sass:map";
@use "../luxfocus";
@use "../luxcommon";
@use "../luxpalette";
@use "../luxelevations";

.lux-master-detail-ac {
  max-width: 100%;
  z-index: 10;
  .lux-master-ac-container {
    &.lux-master-closed {
      border: 1px solid luxcommon.$app-border-color;
      border-left-style: none;
      border-radius: 0 4px 4px 0;
      padding: 0;
      width: 25px;
      min-width: 25px;
      max-width: 25px;
      background-color: #fff;
    }
    &.lux-master-ac-container-mobile {
      border: none;
      background-color: unset;
    }
  }

  .lux-master-header-container-ac {
    z-index: 100;
    position: relative;

    lux-button.master-ac-toggle {
      position: absolute;
      right: -18px;
      top: 17px;
      z-index: 1000;

      button.lux-button.lux-button-rounded {
        @include luxelevations.lux-elevation-z0;
        border: 1px solid luxcommon.$app-border-color;
        color: map.get(luxpalette.$lux-palette-primary, 500);
        background-color: #fff !important;
      }

      .lux-button-icon-round.lux-lx-icon.lux-no-size {
        // optische Anpassung für das "Chevron"-Icon, damit es zentriert im Button sitzt
        // Anpassung erforderlich, falls das Icon ausgetauscht wird
        padding-bottom: 2px;
        padding-right: 1px;
        padding-left: 1px;
      }
    }
    button.lux-button.lux-button-rounded {
      &:hover:not([disabled]) {
        color: luxcommon.$lux-hover-color;
        border-radius: 50%;
      }
      &:active:not([disabled]) {
        color: map.get(luxpalette.$lux-palette-primary, 700);
        background-color: #fff !important;
      }
    }
    .lux-menu-extended {
      padding: 0px;
    }
    mat-card-title,
    h2 {
      font-size: 16px;
    }
    mat-card-subtitle.mat-card-subtitle {
      font-size: 14px;
    }
  }

  lux-filter-form .lux-filter-card,
  .detail-header-container .lux-detail-header-ac,
  .lux-master-view-ac lux-list-item {
    mat-card.mat-card {
      padding: 12px;
    }
    mat-card-title,
    h2 {
      font-size: 16px;
    }
    mat-card-subtitle.mat-card-subtitle {
      font-size: 14px;
    }
  }

  .lux-empty-master-header {
    div.lux-master-header-container-ac {
      border: 1px solid luxcommon.$app-border-color;
      border-radius: 4px;
      background-color: #fff;
      height: 72px;
      lux-button.master-ac-toggle {
        top: 18px;
      }
    }
  }

  .lux-master-view-ac {
    margin: 10px 0;
    z-index: 100;

    lux-list {
      border: none !important;
    }

    lux-list-item {
      margin-bottom: 4px;
      mat-card.mat-card {
        margin: 0px;

        lux-list-item-content :last-child {
          margin-bottom: 0px;
          padding-bottom: 0px;
        }

        lux-icon.lux-lx-icon {
          width: 20px;
          height: 20px;
        }
      }
    }

    lux-list-item,
    lux-list-item-content {
      display: block;
    }
  }

  lux-master-footer-ac {
    padding: 10px 16px;
    z-index: 100;
    border: 1px solid luxcommon.$app-border-color;
    border-radius: 4px;
    background-color: #fff;
    .lux-menu-extended {
      padding: 0;
    }
  }

  .lux-detail-ac-container {
    position: relative;
    border: 1px solid luxcommon.$app-border-color;
    border-radius: 4px;
    background-color: #fff;

    .lux-detail-header-ac {
      mat-card.mat-card.lux-card {
        border: none;
      }
    }

    .lux-detail-empty {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      &.lux-mobile {
        top: 60px;
      }
    }

    .lux-detail-empty-icon,
    .lux-detail-empty-icon-text {
      opacity: 0.6;
      padding: 0 8px;
    }
    &.lux-detail-ac-container-mobile {
      border: none;
      background-color: unset;
      .lux-detail-header-ac {
        mat-card.mat-card.lux-card {
          border: 2px solid luxpalette.$lux-primary-color;
        }
      }
      .back-to-master-button-container {
        padding: 4px;

        &:hover {
          background-color: luxcommon.$lux-hover-color;
          cursor: pointer;
        }

        lux-button.back-to-master-button {
          button.lux-button.lux-button-rounded {
            @include luxelevations.lux-elevation-z0;
            border: 1px solid luxcommon.$app-border-color;
            color: map.get(luxpalette.$lux-palette-primary, 500);
          }
          .lux-button-icon-round.lux-lx-icon.lux-no-size {
            // optische Anpassung für das "Chevron"-Icon, damit es zentriert im Button sitzt
            // Anpassung erforderlich, falls das Icon ausgetauscht wird
            padding-bottom: 2px;
          }
        }
        .back-to-master-label {
          font-size: 16px;
          color: map.get(luxpalette.$lux-palette-primary, 300);
        }
      }
      .lux-detail-view-container {
        border: 1px solid luxcommon.$app-border-color;
        border-radius: 4px;
        background-color: #fff;
      }
    }
  }
}
