@use "sass:map";
@use "../luxfocus";
@use "../luxcommon";
@use "../luxpalette";
@use "../../public/global";
@use "../luxelevations";


lux-tile-ac {
  .mat-card.lux-tile-ac {   
    box-sizing: border-box;
    display: flex;
    height: 100%;
    min-width: 150px;
    background-color: luxcommon.$app-data-bg;
    background-image: luxcommon.$app-gradient;
    border: 1px solid rgba(black, 0.12);
    font-size: 16px;
    
    .lux-tile-icon {
      color: map.get(luxpalette.$lux-palette-primary, 500);
      lux-icon {  
        width: 2em;
        height: 2em;
        i,
        mat-icon:not(.lux-lx-icon, .lux-lx-icon-no-size) {
          padding: 0 !important;
          font-size: 2em !important;
        }
        mat-icon.lux-lx-icon-no-size {
          width: 2em;
          height: 2em;
        }
      }
    }
  
    .lux-tile-header-titel-ac {
      mat-card-title {
        color: luxcommon.$dark-primary-text;
        font-family: luxcommon.$app-headline-font, luxcommon.$app-font-family;
        font-size: 20px;
        margin-bottom: 8px;
      }
      mat-card-subtitle.mat-card-subtitle:not(:first-child){
        color: luxcommon.$dark-secondary-text;
        font-size: 14px;
        font-weight: normal;
        margin-top: 0px;
      }
    }
    
    &:not([class*="mat-elevation-z"]) {
      @include luxelevations.lux-elevation-z2;
    }

    &[class~=lux-cursor]:focus-visible {
      @include luxfocus.focus-dark-mixin;
    }
    &[class~=lux-cursor]:hover {
      border-color: luxpalette.$lux-primary-color;
    }
  }
}