lux-image-gallery {
  .lux-image-gallery {
    width: 100%;
    position: relative;
    display: flex;
  }

  .lux-image-gallery-preview {
    width: 100%;

    lux-button {
      position: absolute;
      padding-top: 16px;
      right: 16px;
    }
  }
}

.cdk-overlay-pane {
  &.lux-image-gallery-content {
    .lux-image-gallery-img {
      height: inherit;
      width: inherit;
      position: absolute;
      align-items: center;
      justify-content: center;
    }

    .lux-image-gallery-prev {
      display: flex;
      position: absolute;
      align-items: center;
      left: 25px;
    }

    .lux-image-gallery-next {
      display: flex;
      align-items: center;
      position: absolute;
      right: 25px;
    }

    .lux-image-gallery-progress {
      color: white;
      position: absolute;
      display: flex;
      justify-content: center;
      width: inherit;
      top: 27px;
      font-weight: 500;
    }

    .lux-image-gallery-close {
      position: absolute;
      display: flex;
      justify-content: end;
      width: inherit;
      top: 27px;
      right: 27px;
    }
  }
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.lux-image-gallery-backdrop {
    background: black;
    opacity: 0.8 !important;
  }
}
