@use "sass:map";
@use "../luxfocus";
@use "../luxcommon";
@use "../luxpalette";
@use "../../public/global";
@use "../luxelevations";

lux-tile-ac {
  box-sizing: border-box;
  display: inline-block;

  mat-card {
    padding: 16px;

    &.mdc-card {
      flex-direction: unset;
    }
  }

  .mat-mdc-card.lux-tile-ac {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    min-width: 150px;
    background-color: luxcommon.$app-data-bg;
    background-image: luxcommon.$app-gradient;
    border: 1px solid rgba(black, 0.12);

    .lux-tile-icon-container {
      color: map.get(luxpalette.$lux-palette-primary, 500);
      grid-column-start: 2;
      grid-row: 1 / span 2;
      mat-icon.lux-icon {
        padding: 0px !important;
        height: 32px;
        width: 32px;
      }
    }
    .lux-tile-content {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr auto;
      gap: 5px;

      mat-card-title.lux-tile-title {
        color: luxcommon.$dark-primary-text;
        font-family: luxcommon.$app-headline-font, luxcommon.$app-font-family;
        line-height: 30px;
        font-size: 1.25rem;
        margin: 0;
      }
      mat-card-subtitle.mat-mdc-card-subtitle:not(:first-child) {
        color: luxcommon.$dark-secondary-text;
        font-size: 0.875rem;
        font-weight: normal;
        margin: 0px;
        grid-row-start: 2;
      }
    }

    &:not([class*="mat-elevation-z"]) {
      @include luxelevations.lux-elevation-z2;
    }

    &[class~="lux-cursor"]:focus-visible {
      @include luxfocus.focus-dark-mixin;
    }
    &[class~="lux-cursor"]:hover {
      border-color: luxcommon.$dark-primary-text;
      background: luxcommon.$app-gradient-reverse;
    }
  }
}
