@use "sass:map";
@use "../luxfocus";
@use "../luxcommon";
@use "../luxpalette";
@use "../luxelevations";

/*
 * Theming for LUX-List
 */
lux-list {
  position: relative;
  height: 100%;
  display: block;
  overflow-y: auto;
  box-sizing: content-box;
  border-radius: 4px;

  .lux-list-empty-icon,
  .lux-list-empty-icon-text {
    color: map.get(luxcommon.$componentBgColors, "gray");
    padding: 0 8px;
  }
  .mat-mdc-card:not([class*="mat-elevation-z"]) {
    @include luxelevations.lux-elevation-z0;
  }

  lux-list-item:not(:last-of-type) lux-card {
    margin-bottom: 4px;
  }

  .mat-mdc-card-content.menu-item-content {
    margin-bottom: 0;
  }

  /*
 * Theming for LUX-List-Item
 */

  .lux-card-footer {
    margin: 0;
  }

  .lux-item {
    display: block;
  }

  .lux-item-aria-description,
  .lux-item-aria-label {
    position: absolute;
    height: 0;
    width: 0;
    visibility: hidden;
  }

  /** ########## FOCUS ########## **/

  &:focus-visible {
    outline: none; //Browser-Default verhindern
    .lux-list-empty-icon-text {
      // bei einer Leeren Liste soll das Label unter dem "Empty-Icon" focusiert werden
      // dieses Label wird auch vom Screenreader verwendet
      @include luxfocus.focus-dark-mixin;
      border-radius: 4px;
    }
  }

  lux-list-item {
    &:focus-visible {
      outline: none;
      lux-card mat-card {
        @include luxfocus.focus-dark-mixin-inline;
        background-color: #fff !important;
      }
    }

    lux-card {
      &.lux-list-item-selected {
        mat-card.mat-mdc-card.lux-card {
          @include luxfocus.lux-selected-mixin-ac;
        }
      }

      &:not(.lux-list-item-selected) {
        mat-card[class~="lux-cursor"]:not([class*="mat-elevation-z"]) {
          @include luxfocus.lux-selectable-mixin;

          &:hover {
            border: 1px solid luxpalette.$lux-primary-color;
            background: luxcommon.$app-gradient-reverse;
            background-color: #fff !important;
          }
        }
      }
    }
  }
}
