@use "sass:map";
@use "../luxcommon";
@use "../luxpalette";
@use "../luxfocus";
@use "../luxelevations";
@use "../luxbreakpoints";

.cdk-overlay-pane.mat-mdc-dialog-panel .mat-mdc-dialog-container {
  border-radius: luxcommon.$app-border-radius;
}

lux-dialog-preset {
  height: 100%;
}

lux-dialog-action {
  flex-flow: row wrap;
  gap: 8px;
  box-sizing: border-box;
  display: flex;
}

lux-dialog-structure {
  display: flex;
  min-height: 100%;

  .lux-dialog {
    // Das Element kann fokussiert werden, das muss aber nicht zwingend mit der Outline gezeigt werden
    outline-width: 0;
    padding: 24px;

    .lux-dialog-title.mat-mdc-dialog-title {
      display: flex;
      padding-left: 0;
      padding-right: 0;
      color: luxcommon.$dark-primary-text;
      font-family: luxcommon.$app-headline-font, luxcommon.$app-font-family;
    }

    .mat-mdc-dialog-container {
      @include luxelevations.lux-elevation-z24;
      border: 1px solid luxcommon.$dark-disabled-text;
    }

    // der Mat-Dialog-Content hat negativen Margin und einen passenden Padding (wieso auch immer)
    // wir schalten das ab, damit das Fokus-Highlighting passend zum Header aussieht
    .lux-dialog-content {
      margin: 0;
      padding: 0;
      max-height: 100%;
      font-family: luxcommon.$app-font-family;
      letter-spacing: normal;
      color: luxcommon.$dark-primary-text;
    }

    // Leichten Abstand zum Content setzen
    .lux-dialog-actions {
      margin: 20px 0 0 0;
      justify-content: center;
    }

    .lux-icon-close {
      margin: -15px -15px 0 0;
      width: 24px;
      height: 24px;
      font-size: 1rem;
    }
  }

  @include luxbreakpoints.lt-md {
    .mat-mdc-dialog-container {
      padding: 8px;
    }

    .mat-mdc-dialog-title {
      margin-bottom: 8px;
    }

    .lux-dialog {
      .lux-dialog-actions {
        margin: 8px 0 0 0;
      }

      .lux-icon-close {
        margin: -5px -5px 0 0;
      }
    }
  }
}

/** ########## Focus / Hover ########## **/
lux-dialog-structure {
  // x-Button oben rechts im Dialog-Fenster
  .lux-icon-close {
    &:hover {
      background-color: #fff !important;

      mat-icon.mat-icon-no-color {
        color: luxcommon.$lux-hover-color;
      }

      cursor: pointer;
    }

    &:focus-visible {
      @include luxfocus.focus-dark-mixin;
      border-radius: 4px;
    }
  }
}
