@use "sass:map";
@use "../luxcommon";
@use "../luxpalette";
@use "../luxfocus";

lux-file-preview {
  .message-box {
    border-radius: 8px;
    background-color: white;
    padding: 20px;
  }
}

lux-file-preview-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 1;
  padding: 8px;
  lux-button {
    &.lux-button-disabled button {
      background-color: rgba(gray, 0.5) !important;
    }

    button.lux-icon-button {
      &:focus-visible {
        @include luxfocus.focus-bright-mixin;
      }
    }
  }

  .lux-file-name {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    flex: 1 1 calc(100% - 350px);
    min-width: calc(100% - 350px);
    > div {
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      place-content: center flex-start;
      align-items: center;
      flex: 1 1 100%;
      max-width: 90%;
    }
  }
}

lux-file-preview-pdfviewer {
  .overlay-content {
    overflow: auto;
    background-color: gray;
    padding: 8px;
    border-radius: 4px;
  }

  pdf-viewer {
    height: 100%;
  }

  .message-box-pdf {
    position: absolute;
    overflow: hidden;
  }

  .zoom-select {
    min-width: 90px;
  }
}

lux-file-preview-imgviewer {
  .overlay-content {
    overflow: auto;
  }

  img {
    height: auto;
  }
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.lux-file-preview-backdrop {
    background: #000;
    opacity: 0.8 !important;
  }
}
