@use "sass:map";
@use "../luxfocus";
@use "../luxcommon";
@use "../luxpalette";


lux-link-plain {
  .link-wrapper {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: map.get(luxpalette.$lux-palette-primary, A700);
    
    .lux-link-plain-text {
      text-decoration: none;
    }

    lux-icon {
      font-size: inherit;
      vertical-align: middle;
      line-height: 1;
      i, mat-icon {
        color: map.get(luxpalette.$lux-palette-primary, A700);
        padding: 0 !important;
      }   
    }

    &.lux-disabled {
      color: luxcommon.$dark-disabled-text;
      cursor: text;
      lux-icon {
        i, mat-icon {
          color: luxcommon.$dark-disabled-text;
        }
      }
    }

    &:hover:not(.lux-disabled) {
      @include luxfocus.lux-hovered-mixin;
      text-decoration: underline;
      cursor: pointer;
    }
    
    &:focus:not(.lux-disabled, :hover) {
      @include luxfocus.focus-dark-mixin;
      border-radius: 2px;
    }
  }
  &.breadcrump-item .link-wrapper{
    color: inherit;
    lux-icon mat-icon {
      color: inherit;
    }
  }
}