@use "../luxcommon";
@use "../luxpalette";
@use "../luxfocus";
@use "../luxelevations";
@use "sass:map";

.mat-mdc-card-outlined {
  --mdc-outlined-card-container-shape: #{luxcommon.$app-border-radius};
}

lux-card {
  // Falls die lux-card in einem lux-grid verwendet wird und alle Cards einer Reihe dieselbe Höhe erhalten sollen
  // müssen mat-card und mat-card-content entsprechend angepasst werden.
  // Diese Anforderung stammt aus dem Verhalten der ehemaligen Lux-Layout-Card-Row.
  &.lux-flex {
    mat-card,
    mat-card-content {
      flex: 1 1 auto;
    }
  }

  // Umstylen der Mat-Card
  .mat-mdc-card.lux-card {
    border: 1px solid luxcommon.$app-border-color;
    border-radius: luxcommon.$app-border-radius;
    background-color: #fff;
    display: flex;
    box-sizing: border-box;

    &:not([class*="mat-elevation-z"]) {
      @include luxelevations.lux-elevation-z0;
    }
    .mat-mdc-card-content {
      font-size: 1rem;
      padding: 0;

      .lux-card-content {
        padding: 16px 0 0 0;
        &:empty {
          padding: 0;
        }
      }
    }
  }

  .lux-card-content-container {
    overflow-x: hidden;
    padding: luxcommon.$form-control-buffer;
    font-family: luxcommon.$app-font-family;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;

    > * {
      margin-bottom: 0;
    }
  }

  .lux-card-header {
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 1.5rem;
      font-weight: 500;
      color: luxcommon.$dark-primary-text;
    }

    .lux-card-icon-container,
    .lux-card-info-container lux-card-info {
      color: map.get(luxpalette.$lux-palette_primary, 500);
      lux-icon {
        mat-icon {
          padding: 0 !important;
          height: 29px;
          width: 29px;
        }
      }
    }
    .lux-card-icon-container {
      margin-right: 10px;
    }
    .lux-card-info-container {
      margin-left: 10px;
      grid-column-start: 3;

      &.lux-title.lux-subtitle {
        grid-row: 1 / span 2;
      }

      &.lux-title:not(.lux-subtitle) {
        grid-row: 1;
      }

      &.lux-subtitle:not(.lux-title) {
        grid-row: 2;
      }
    }

    .lux-card-title,
    .lux-card-subtitle {
      grid-column-start: 2;
      margin: 0px;
      padding: 0px;
    }
    .lux-card-subtitle {
      font-size: 1rem;
      color: luxcommon.$dark-secondary-text;
      font-weight: normal;
      font-family: luxcommon.$app-font-family;
    }
  }

  .lux-card-content-expanded {
    background: luxcommon.$app-data-bg;
  }

  mat-card-actions {
    &.mat-mdc-card-actions {
      justify-content: flex-end;
      min-height: 36px;
    }

    &.lux-card-actions {
      margin-right: 0;
      margin-left: 0;
    }
  }

  /*
    Setze den Margin (links und rechts) auf 1px, damit sich die LUX-CARDS, welche sich innerhalb eines Tabs befinden,
    korrekt an der Y-Achse (Kartentitel, Tab und Inhalt) ausrichten. 1px damit der Schatten bzw. die Begrenzung links
    sichtbar bleibt. Bei 0px würde der Schatten bzw. die Begrenzung links fehlen.
  */
  .lux-tab-content .lux-card {
    margin-right: 1px;
    margin-left: 1px;
  }

  // HOVER / FOCUS

  mat-card {
    padding: 16px;
    &[class~="lux-cursor"]:hover {
      background-image: luxcommon.$app-gradient-reverse;
      background-color: #ffffff;
      border-color: luxcommon.$dark-primary-text;
      .lux-card-content-expanded {
        background-image: luxcommon.$app-gradient-reverse;
        background-color: #ffffff;
        border-color: luxcommon.$dark-primary-text;
      }
    }
    &[class~="lux-cursor"]:focus-visible {
      @include luxfocus.focus-dark-mixin-inline;
    }
  }
}
