@use "../luxpalette";

lux-checkbox-container-ac {
  .lux-label-container {
    min-height: 1.2em;
    font-size: 0.75rem;
    line-height: 1.2em;
    color: luxpalette.$lux-primary-color;
    margin: 0 calc(0.5em + 1px) 0.25em calc(0.5em + 1px);
  }

  .lux-checkbox-container {
    display: flex;
    flex-flow: row wrap;
    place-content: stretch flex-start;
    align-items: stretch;
    gap: 10px;
    max-width: 100%;

    &.lux-vertical {
      flex-direction: column;
    }

    lux-form-control-wrapper .lux-form-control-wrapper {
      margin: 0;
      .lux-form-control-label-authentic,
      .lux-form-control-misc-authentic {
        display: none !important;
      }
      .lux-form-control-container-authentic.lux-no-input-row {
        padding: 0;
      }
    }
  }
}
