$button-font-size: 18px;
$light-green: #E4F1E4;
$light-gray: #EFF3F6;
$light-blue: #E3EBF5;

body {
  color: #003366;
  font-family: $app-font-family;
}

p, div {
  font-family: $app-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Korb", $app-font-family;
}

lux-card .mat-card {
  color: #003366;
}

lux-panel {
  & .mat-expansion-panel, .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    color: #003366;
  }
}

@mixin lux-hovered-mixin-green {
  background-color: #e3ebf5 !important;
  border-radius: 4px;
}

/*
 * Theming for LUX-App-Footer
 */
lux-app-footer {
  .lux-app-footer {
    .lux-menu-extended {
      > lux-button {
        button {
          &.lux-button {
            font-size: $button-font-size;
          }
        }
      }
    }
  }
}

lux-app-header {
  .lux-app-header {
    background-color: $app-header-bg;

    .lux-show-border {
      border-left: 1px solid #003366;
    }

    .lux-header-title {
      color: map-get($lux-palette-primary, 500);
    }

    div.lux-header-action {
      lux-button {
        button {

          &:not(.mat-accent):not(.mat-warn):not(.mat-primary):not(.mat-button-disabled) {
            color: map-get($lux-palette-primary, 500);
          }

          &:not(.mat-accent):not(.mat-warn):not(.mat-primary).mat-button-disabled {
            color: $dark-disabled-text;
          }

          &.mat-accent:not(.mat-button-disabled) {
            color: map-get($lux-palette_accent, A100);
          }

          &.mat-warn:not(.mat-button-disabled) {
            color: map-get($lux-palette_warn, A100);
          }

          &.mat-primary:not(.mat-button-disabled) {
            color: map-get($lux-palette_primary, A100);
          }
        }
      }
    }

    button:not(.mat-primary):not(.mat-warn):not(.mat-accent):not(.lux-button-rounded) {
      color: map-get($lux-palette-primary, 500);
    }

    .lux-header-user {
      .lux-header-user-short {
        > span {
          color: map-get($lux-palette_primary, 500);
          background-color: map-get(map-get($lux-palette-primary, contrast), 500);
        }
      }
    }
  }

  .lux-side-nav-header, .lux-side-nav-footer {
    color: map-get($lux-palette_primary, A400);
  }

  .lux-header-side-nav {
    .lux-side-nav-trigger-active {
      background-color: $dark-focused;
    }
  }

  .lux-side-nav .lux-side-nav-content {
    lux-button, .lux-menu-item, .lux-action-nav-menu lux-button {
      color: map-get($lux-palette_primary, 500);
    }
  }
}

lux-app-header {
  .lux-app-header-title-label {
    &:focus {
      @include focus-dark-mixin;
    }

    &:hover {
      @include lux-hovered-mixin-green;
      color: #003366 !important;
    }
  }

  & .lux-side-nav-trigger button:not([disabled]) {
    &:focus {
      @include focus-dark-mixin;
    }

    &:hover {
      background-color: $lux-hover-color !important;
      color: #003366 !important;
    }

    &:hover lux-icon {
      background-color: $lux-hover-color;
      color: #003366 !important;
    }
  }

  & .lux-header-action button:not([disabled]) {
    &:focus {
      @include focus-dark-mixin;
    }

    color: #003366 !important;

    &.mat-accent lux-icon {
      color: map-get($lux-palette_accent, 500) !important;
    }

    &.mat-warn lux-icon {
      color: map-get($lux-palette_warn, 500) !important;
    }

    &.mat-primary lux-icon {
      color: map-get($lux-palette_primary, 500) !important;
    }

    &:hover {
      color: #003366 !important;
      background-color: $lux-hover-color !important;

      &.mat-accent lux-icon {
        color: map-get($lux-palette_accent, 500) !important;
      }

      &.mat-warn lux-icon {
        color: map-get($lux-palette_warn, 500) !important;
      }

      &.mat-primary lux-icon {
        color: map-get($lux-palette_primary, 500) !important;
      }
    }
  }

  & lux-image:focus {
    @include focus-dark-mixin;
  }

  & lux-icon:focus {
    @include focus-dark-mixin;
  }

  lux-menu-trigger button.lux-right-nav-trigger {
    &:focus {
      @include focus-dark-mixin;
    }

    &:hover {
      @include lux-hovered-mixin-green;

      & lux-icon, .lux-header-username {
        color: #003366 !important;
      }
    }
  }
}

/*
 * Theming for LUX-Button
 */
lux-button button.lux-button {

  font-weight: lighter !important;

  &.mat-button, &.mat-raised-button {
    border-radius: 18px;
    height: $button-height;
    font-size: $button-font-size;
    margin-left: $outline-width;
    margin-right: $outline-width;
  }

  &.mat-button.mat-button-disabled,
  &.mat-raised-button.mat-button-disabled,
  &.mat-fab.mat-button-disabled {
    color: $dark-disabled-text;
  }

  &.mat-raised-button.mat-accent:not(.mat-button-disabled), &.mat-fab.mat-accent:not(.mat-button-disabled) {
    color: map-get($lux-palette-primary, 500);
  }

  &.lux-icon-button {
    border-radius: 18px;
    height: $button-height;
    padding-top: 4px;
    padding-bottom: 2px;

    & lux-icon {
      i,
      mat-icon {
        font-size: 1em;
      }
    }
  }

  &.lux-button-rounded {
    border-radius: 16px !important;
    height: $button-fav-height;
    width: $button-fav-height;

    & lux-icon {
      i,
      mat-icon {
        font-size: 1.5em;
      }
    }
  }
}

/*
 * Theming for LUX-Menu
 */
.lux-menu-extended {
  > lux-button {
    button {
      padding-left: 16px;
      padding-right: 16px;

      &.lux-button {
        font-size: 14px;
      }
    }
  }
}

/*
 * Theming for LUX-Tile
 */
lux-tile {

  .lux-notification-new {
    background-color: #56bd66;
  }

  h2 {
    color: #003366;
  }

  .lux-highlight {
    color: #003366;
  }
}

lux-tile {

  .lux-highlight:hover {
    color: #56BD66;
  }

  mat-card[class~=lux-cursor] {

    box-shadow: 0px 2px 1px -1px rgb(0 51 102 / 60%), 0px 1px 1px 0px rgb(0 51 102 / 50%), 0px 1px 3px 0px rgb(0 51 102 / 40%) !important;

    &:focus {
      @include focus-dark-mixin;
    }

    &:hover {
      background-color: white !important;
      box-shadow: 0px 2px 1px -1px rgb(46 133 51 / 60%), 0px 1px 1px 0px rgb(46 133 51 / 50%), 0px 1px 3px 0px rgb(46 133 51 / 40%) !important;

      h2 {
        color: #56BD66;
      }
    }
  }
}


/* 
 * Theming for LUX-badge-notification
 */
.lux-badge-notification {

  &.mat-badge:not(.mat-badge-disabled).mat-badge-accent .mat-badge-content {
    background-color: map-get($lux-palette_accent, 500);
  }
  
}

/*
 * Theming for LUX-Form-Controls
 */
$form-control-padding: 10px 5px 10px 5px;
$form-control-label-padding-bottom: 4px;
$form-control-border-radius: 4px;
$form-control-old-border-bottom: 0px;

lux-checkbox, lux-toggle, lux-radio, lux-slider {
  & .lux-form-control {
    margin-right: 0px;
    margin-left: 0px;

    .lux-form-control-label {
      padding-bottom: $form-control-label-padding-bottom;
    }

    .lux-form-control-container {
      padding: $form-control-padding;
    }
  }

  .lux-form-control:not(.lux-form-control-disabled), .lux-form-control:not(.lux-form-control-disabled).lux-focused {
    .lux-form-control-label {
      > * {
        color: $dark-secondary-text;
      }
    }
  }
}

lux-input, lux-select, lux-file-input, lux-textarea, lux-autocomplete, lux-datepicker, lux-datetimepicker, lux-chips {
  & .lux-form-control {
    margin-right: 4px;
    margin-left: 4px;

    .lux-form-control-label {
      padding-bottom: $form-control-label-padding-bottom;
    }

    .lux-form-control-container {
      border: 1px solid $form-border-color;
      border-radius: $form-control-border-radius;
      padding: $form-control-padding;

      &:after {
        border-bottom: $form-control-old-border-bottom;
      }
    }

    .lux-label, mat-hint, mat-error {
      color: $dark-secondary-text;
    }
  }

  .lux-form-control-error {
    .lux-form-control-label {
      > * {
        color: $lux-warn-color !important;
      }
    }

    .lux-form-control-container {
      border-color: $lux-selected-border-color !important;
      box-shadow: 0 0 0 2px $lux-warn-color, 0 0 4px 2px $lux-warn-color;
    }

    .lux-form-control-misc {
      > * {
        color: $lux-warn-color !important;
      }
    }
  }

  .lux-form-control-disabled {
    .lux-form-control-container {
      color: $dark-disabled-text !important;
      border: 1px dashed $dark-disabled-text !important;
      border-radius: $form-control-border-radius;
      padding: $form-control-padding;

      &:after {
        border-bottom: $form-control-old-border-bottom;
      }
    }
  }

  .lux-form-control:not(.lux-form-control-disabled).lux-focused {
    .lux-form-control-label {
      > * {
        color: $dark-secondary-text;
      }
    }

    .lux-form-control-container {
      box-shadow: 0 0 0 2px $lux-selected-border-color, 0 0 4px 2px $lux-selected-border-color;

      &:after {
        border-bottom: $form-control-old-border-bottom;
      }
    }
  }
}

.lux-form-control-error {
  .lux-form-control-label {
    > * {
      color: $lux-warn-color !important;
    }
  }

  .lux-form-control-container {
    border-color: $lux-warn-color !important;
  }

  .lux-form-control-misc {
    > * {
      color: $lux-warn-color !important;
    }
  }
}


/*
 * Theming für LUX-Checkbox
 */
lux-checkbox {

  .mat-checkbox-disabled .mat-checkbox-inner-container{
    border: 1px solid $dark-disabled-text;
  }

  .mat-checkbox-inner-container {
    border-radius: 4px;
    border: 1px solid map-get($lux-palette_primary, 500);
    // wegen der Border
    height: 18px !important;
    width: 18px !important;

    .mat-checkbox-frame {
      border: none;
    }

    .mat-checkbox-background .mat-checkbox-checkmark {
      border-radius: 2px; // bei 4px ist ein grüner Rand zu sehen
    }
  }
}

/*
 * Theming für LUX-Table
 */
lux-table {

  table.mat-table.cdk-table.mat-sort.lux-multiselect-table {
    border-spacing: 0px 0px !important;
  }

  .mat-header-row:not(.lux-table-header-no-data) {
    background-color: $light-green;
  }
  .mat-row:nth-child(even){
    background-color: $light-gray;
  }
  .mat-row:nth-child(odd){
    background-color:#ffffff;
  }
}

/*
 * Theming für LUX-Radio-Buttons
 */
lux-radio {

  .mat-radio-outer-circle{
    border: 1.5px solid map-get($lux-palette_primary, 500);
  }

  .mat-radio-inner-circle{
    // Checkmark-Symbol mit css gezeichnet, anstatt des inneren Kreises
    border-radius:2px;
    background-color: transparent!important;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    height: 32px;
    width: 14px;
    margin-top: -8px;
    margin-left: 3px;
  }

  .mat-radio-checked {
    .mat-radio-outer-circle {
      background: map-get($lux-palette_primary, 500);
    }

    &.mat-radio-disabled .mat-radio-outer-circle {
      background: $dark-disabled-text;
      border-color: $dark-disabled-text;
    }

    &.mat-radio-disabled label .mat-radio-container {
      span.mat-radio-inner-circle {
        background-color: $dark-disabled-text;
      }

      span.mat-radio-outer-circle {
        border-color: $dark-disabled-text;
      }
    }
  }

  .mat-radio-disabled label.mat-radio-label {
    .mat-radio-label-content {
      color: $dark-disabled-text;
    }

    .mat-radio-container {
      span.mat-radio-inner-circle {
        background-color: $dark-disabled-text;
      }

      span.mat-radio-outer-circle {
        border-color: $dark-disabled-text;
      }
    }
  }

  .mat-radio-checked .mat-radio-inner-circle{
    transform: rotate(45deg) scale(0.4);
  }

  .mat-radio-button .mat-radio-ripple{
    height: 20px; /*double of your required circle radius*/
    width: 20px;  /*double of your required circle radius*/
    left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
    top: calc(50% - 10px); /*'10px'-same as your required circle radius */
  }
}
/*
* Theming für Lux-Datepicker 
*/
.lux-datepicker-panel {

  .mat-datepicker-content .mat-calendar {
    min-height: 320px;
  }

  .mat-calendar-content {
    padding: 0px 10px 10px 10px;
    
    th {
      font-size: 18px;
      color: map-get($lux-palette_primary, 500);
    }

    td.mat-calendar-body-cell {

      &:after {
        background-color: white;
      }

      &:hover > div {
        border-radius: 2px;
        background-color:map-get($lux-palette_accent, 300) !important;
        color: map-get($lux-palette_primary, 500);
      }

      & > div {
        border-radius: 2px;
        background-color: $light-blue;
        font-size: 18px;
        color: map-get($lux-palette_primary, 500);
      }
    }

    .mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-selected {
      border-radius: 2px;
      background-color: map-get($lux-palette_primary, 500);
      color: $light-blue;
    }

    // Ausblenden des zusätzlichen Monatslabels
    .mat-calendar-body-label:not(:last-of-type) {
      visibility: hidden;
    }

    .mat-calendar-body-label:last-of-type, th.mat-calendar-table-header-divider {
        display: none;
    }
  }
}

/*
* Theming für Lux-Datepicker-Custom-Header 
*/
.lux-datepicker-custom-header-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 18px 10px;

  button, .mat-icon-button {
    font-size: 18px;
    color: map-get($lux-palette_primary, 500);

    .mat-button-focus-overlay {
      display: none;
    }

    &:focus {
      @include focus-dark-mixin;
    }

    &:hover {
      @include lux-hovered-mixin;
    }
  }
}