@use "sass:map";
@use "@angular/material" as mat;
@use "../base/luxfocus";
@use "../base/luxelevations";
@use "../public/global";
@use "luxcommon";
@use "luxpalette";

$button-font-size: 22px;
$light-green: #e4f1e4;
$light-gray: #eff3f6;
$light-blue: #e3ebf5;
$dark-green: #2e8533;

body {
  color: #003366;
  font-family: luxcommon.$app-font-family;
}

p,
div,
span {
  font-family: luxcommon.$app-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Korb, luxcommon.$app-font-family;
}

lux-card .mat-card {
  color: #003366;
}

lux-panel {
  & .mat-expansion-panel,
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    color: #003366;
  }
}

@mixin lux-hovered-mixin-green {
  background-color: #e3ebf5 !important;
  border-radius: 4px;
}

/*
 * Theming for LUX-App-Footer
 */
lux-app-footer {
  .lux-app-footer {
    .lux-menu-extended {
      > lux-button {
        button {
          &.lux-button {
            font-size: $button-font-size;
          }
        }
      }
    }
  }
}

lux-app-header {
  .lux-app-header {
    background-color: luxcommon.$app-header-bg;

    .lux-show-border {
      border-left: 1px solid #003366;
    }

    .lux-header-title {
      color: map.get(luxpalette.$lux-palette-primary, 500);
    }

    div.lux-header-action {
      lux-button {
        button {
          &:not(.mat-accent):not(.mat-warn):not(.mat-primary):not(.mat-button-disabled) {
            color: map.get(luxpalette.$lux-palette-primary, 500);
          }

          &:not(.mat-accent):not(.mat-warn):not(.mat-primary).mat-button-disabled {
            color: luxcommon.$dark-disabled-text;
          }

          &.mat-accent:not(.mat-button-disabled) {
            color: map.get(luxpalette.$lux-palette_accent, A100);
          }

          &.mat-warn:not(.mat-button-disabled) {
            color: map.get(luxpalette.$lux-palette_warn, A100);
          }

          &.mat-primary:not(.mat-button-disabled) {
            color: map.get(luxpalette.$lux-palette_primary, A100);
          }
        }
      }
    }

    button:not(.mat-primary):not(.mat-warn):not(.mat-accent):not(.lux-button-rounded) {
      color: map.get(luxpalette.$lux-palette-primary, 500);
    }

    .lux-header-user {
      .lux-header-user-short {
        > span {
          color: map.get(luxpalette.$lux-palette_primary, 500);
          background-color: map.get(map.get(luxpalette.$lux-palette-primary, contrast), 500);
        }
      }
    }
  }

  .lux-side-nav-header,
  .lux-side-nav-footer {
    color: map.get(luxpalette.$lux-palette_primary, A400);
  }

  .lux-header-side-nav {
    .lux-side-nav-trigger-active {
      background-color: luxcommon.$dark-focused;
    }
  }

  .lux-side-nav .lux-side-nav-content {
    lux-button,
    .lux-menu-item,
    .lux-action-nav-menu lux-button {
      color: map.get(luxpalette.$lux-palette_primary, 500);
    }
  }
}

lux-app-header {
  .lux-app-header-title-label {
    &:focus {
      @include luxfocus.focus-dark-mixin;
    }

    &:hover {
      @include lux-hovered-mixin-green;
      color: #003366 !important;
    }
  }

  & .lux-side-nav-trigger button:not([disabled]) {
    &:focus {
      @include luxfocus.focus-dark-mixin;
    }

    &:hover {
      background-color: luxcommon.$lux-hover-color !important;
      color: #003366 !important;
    }

    &:hover lux-icon {
      background-color: luxcommon.$lux-hover-color;
      color: #003366 !important;
    }
  }

  & .lux-header-action button:not([disabled]) {
    &:focus {
      @include luxfocus.focus-dark-mixin;
    }

    color: #003366 !important;

    &.mat-accent lux-icon {
      color: map.get(luxpalette.$lux-palette_accent, 500) !important;
    }

    &.mat-warn lux-icon {
      color: map.get(luxpalette.$lux-palette_warn, 500) !important;
    }

    &.mat-primary lux-icon {
      color: map.get(luxpalette.$lux-palette_primary, 500) !important;
    }

    &:hover {
      color: #003366 !important;
      background-color: luxcommon.$lux-hover-color !important;

      &.mat-accent lux-icon {
        color: map.get(luxpalette.$lux-palette_accent, 500) !important;
      }

      &.mat-warn lux-icon {
        color: map.get(luxpalette.$lux-palette_warn, 500) !important;
      }

      &.mat-primary lux-icon {
        color: map.get(luxpalette.$lux-palette_primary, 500) !important;
      }
    }
  }

  & lux-image:focus {
    @include luxfocus.focus-dark-mixin;
  }

  & lux-icon:focus {
    @include luxfocus.focus-dark-mixin;
  }

  lux-menu-trigger button.lux-right-nav-trigger {
    &:focus {
      @include luxfocus.focus-dark-mixin;
    }

    &:hover {
      @include lux-hovered-mixin-green;

      & lux-icon,
      .lux-header-username {
        color: #003366 !important;
      }
    }
  }

  .lux-menu-trigger-default .mat-button-wrapper {
    display: block;
  }
}

/*
 * Theming for LUX-Button
 */
lux-button button.lux-button {
  font-weight: normal !important;
  font-family: luxcommon.$app-font-family;
  align-items: center;

  &.mat-button,
  &.mat-raised-button,
  &.mat-flat-button,
  &.mat-stroked-button {
    border-radius: 18px;
    height: luxcommon.$button-height;
    font-size: $button-font-size;
  }

  &.mat-button.mat-button-disabled,
  &.mat-raised-button.mat-button-disabled,
  &.mat-fab.mat-button-disabled,
  &.mat-stroked-button.mat-button-disabled,
  &.mat-flat-button.mat-button-disabled {
    color: luxcommon.$dark-disabled-text;
  }

  &.mat-raised-button.mat-accent:not(.mat-button-disabled),
  &.mat-flat-button.mat-accent:not(.mat-button-disabled),
  &.mat-fab.mat-accent:not(.mat-button-disabled) {
    color: map.get(luxpalette.$lux-palette-primary, 500);
  }

  &.lux-icon-button {
    border-radius: 18px;
    height: luxcommon.$button-height;

    & lux-icon:not(.lux-button-icon-round) {
      i.lux-fa-icon {
        font-size: 1em !important;
      }
      mat-icon.mat-icon.lux-material-icon:not(.lux-lx-icon, .lux-lx-icon-no-size) {
        font-size: 1.2em !important;
        padding: 0px !important;
        height: unset !important;
        width: unset !important;
      }
    }
    mat-icon.mat-icon.lux-lx-icon:not(.lux-fa-icon, .lux-material-icon),
    mat-icon.mat-icon.lux-lx-icon-no-size:not(.lux-fa-icon, .lux-material-icon) {
      height: 22px;
      width: 22px;
    }
  }

  &.lux-button-rounded {
    border-radius: 16px !important;
    height: luxcommon.$button-fav-height;
    width: luxcommon.$button-fav-height;
    font-size: $button-font-size;
    .mat-button-wrapper {
      height: 100%;
      display: inline-flex;
      align-items: center;
      line-height: 1;
    }

    & lux-icon.lux-button-icon-round {
      line-height: 1;
      height: 22px;
      width: 22px;
      i,
      mat-icon.mat-icon:not(.lux-lx-icon, .lux-lx-icon-no-size) {
        font-size: 22px !important;
      }
      mat-icon.mat-icon.lux-lx-icon:not(.lux-fa-icon, .lux-material-icon),
      mat-icon.mat-icon.lux-lx-icon-no-size:not(.lux-fa-icon, .lux-material-icon) {
        height: 22px;
        width: 22px;
      }
    }
  }
}

/*
 * Theming for LUX-Menu
 */
.lux-menu-extended {
  > lux-button {
    button {
      padding-left: 16px;
      padding-right: 16px;

      &.lux-button {
        font-size: 14px;
      }
    }
  }
}

/*
 * Theming for LUX-Tile
 */
lux-tile {
  .lux-notification-new {
    background-color: #56bd66;
  }

  h2 {
    color: #003366;
  }

  .lux-highlight {
    color: #003366;
  }

  .lux-tile-label {
    flex-shrink: 1;
    flex-grow: 0;
    min-height: 70px;
    max-height: 70px;
  }
}

lux-tile {
  .lux-highlight:hover {
    color: #56bd66;
  }

  mat-card[class~="lux-cursor"] {
    &:focus {
      @include luxfocus.focus-dark-mixin;
    }

    &:hover {
      background-color: white !important;
      // farbiger Schatten beim Hover
      @include mat.elevation(2, $dark-green, 1);

      h2 {
        color: #56bd66;
      }
    }
  }
}

/* 
 * Theming for LUX-badge-notification
 */
.lux-badge-notification {
  &.mat-badge:not(.mat-badge-disabled).mat-badge-accent .mat-badge-content {
    background-color: map.get(luxpalette.$lux-palette_accent, 500);
  }
}

/*
 * Theming for LUX-Form-Controls
 */
$form-control-label-padding-bottom: 4px;
$form-control-border-radius: 4px;
$form-control-old-border-bottom: 0px;

lux-checkbox,
lux-toggle,
lux-radio,
lux-slider {
  & .lux-form-control {
    .lux-form-control-label {
      padding-bottom: $form-control-label-padding-bottom;
    }

    .lux-form-control-container {
      padding: 10px 0px;
    }
  }

  .lux-form-control:not(.lux-form-control-disabled),
  .lux-form-control:not(.lux-form-control-disabled).lux-focused {
    .lux-form-control-label {
      > * {
        color: luxcommon.$dark-secondary-text;
      }
    }
  }
}

.mat-select-value {
  color: luxcommon.$dark-secondary-text;
}

lux-input,
lux-select,
lux-file-input,
lux-textarea,
lux-autocomplete,
lux-datepicker,
lux-datetimepicker,
lux-chips,
lux-lookup-autocomplete,
lux-lookup-combobox {
  & .lux-form-control {
    .lux-form-control-label {
      padding-bottom: $form-control-label-padding-bottom;
    }

    .lux-form-control-container {
      border: 1px solid luxcommon.$form-border-color;
      border-radius: $form-control-border-radius;
      padding: luxcommon.$form-control-container-padding;

      &:after {
        border-bottom: $form-control-old-border-bottom;
      }
    }

    .lux-label,
    mat-hint,
    mat-error {
      color: luxcommon.$dark-secondary-text;
    }
  }

  .lux-form-control-error {
    .lux-form-control-label {
      > * {
        color: luxpalette.$lux-warn-color !important;
      }
    }

    .lux-form-control-container {
      border-color: luxcommon.$lux-selected-border-color !important;
      box-shadow: 0 0 0 2px luxpalette.$lux-warn-color, 0 0 4px 2px luxpalette.$lux-warn-color;

      &:after {
        border-bottom: $form-control-old-border-bottom;
      }
    }

    .lux-form-control-misc {
      > * {
        color: luxpalette.$lux-warn-color !important;
      }
    }
  }

  .lux-form-control-disabled {
    .lux-form-control-container {
      color: luxcommon.$dark-disabled-text !important;
      border: 1px dashed luxcommon.$dark-disabled-text !important;
      border-radius: $form-control-border-radius;
      padding: luxcommon.$form-control-container-padding;

      &:after {
        border-bottom: $form-control-old-border-bottom;
      }
    }
  }

  .lux-form-control:not(.lux-form-control-disabled).lux-focused {
    .lux-form-control-label {
      > * {
        color: luxcommon.$dark-secondary-text;
      }
    }

    .lux-form-control-container {
      box-shadow: 0 0 0 2px luxcommon.$lux-selected-border-color, 0 0 4px 2px luxcommon.$lux-selected-border-color;

      &:after {
        border-bottom: $form-control-old-border-bottom !important;
      }
    }

    &.lux-form-control-error {
      .lux-form-control-container {
        border-color: luxpalette.$lux-warn-color !important;
        box-shadow: 0 0 0 2px luxpalette.$lux-warn-color, 0 0 4px 2px luxpalette.$lux-warn-color;
      }
      &:after {
        border-bottom: $form-control-old-border-bottom !important;
      }
    }
  }
}

.lux-form-control-error {
  .lux-form-control-label {
    > * {
      color: luxpalette.$lux-warn-color !important;
    }
  }

  .lux-form-control-container {
    border-color: luxpalette.$lux-warn-color !important;
  }

  .lux-form-control-misc {
    > * {
      color: luxpalette.$lux-warn-color !important;
    }
  }
}

lux-file-input,
lux-file-input-ac {
  lux-button.lux-menu-item,
  lux-button.lux-menu-trigger-default {
    button lux-icon {
      display: inline;
      mat-icon {
        vertical-align: unset;
      }
    }
  }
}

/*
 * Theming für LUX-Layout-Form-Row
 */
lux-layout-form-row {
  lux-input,
  lux-select,
  lux-file-input,
  lux-textarea,
  lux-autocomplete,
  lux-datepicker,
  lux-datetimepicker,
  lux-chips,
  lux-lookup-autocomplete,
  lux-lookup-combobox {
    & .lux-form-control {
      margin-right: 0px;
      margin-left: 0px;
    }
  }
}

/*
 * Theming für LUX-Checkbox
 */
lux-checkbox {
  .mat-checkbox-disabled .mat-checkbox-inner-container {
    border: 1px solid luxcommon.$dark-disabled-text;
  }

  .mat-checkbox-inner-container {
    border-radius: 4px;
    border: 1px solid map.get(luxpalette.$lux-palette_primary, 500);
    // wegen der Border
    height: 18px !important;
    width: 18px !important;

    .mat-checkbox-frame {
      border: none;
    }

    .mat-checkbox-background .mat-checkbox-checkmark {
      border-radius: 2px; // bei 4px ist ein grüner Rand zu sehen
    }
  }
}

/*
 * Theming für LUX-Table
 */
lux-table {
  table.mat-table.cdk-table.mat-sort.lux-multiselect-table {
    border-spacing: 0px 0px !important;
  }

  .mat-header-row:not(.lux-table-header-no-data) {
    background-color: $light-green;
  }
  .mat-row:nth-child(even) {
    background-color: $light-gray;
  }
  .mat-row:nth-child(odd) {
    background-color: #ffffff;
  }
  .lux-multiselect-td,
  .lux-multiselect-tf:not(.lux-ignore-multiselect-tf) {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
}

/*
 * Theming für LUX-Tabs.
 */
// Tabs außerhalb einer LUX-Card (z.B. Master-Detail)
lux-tabs {
  .mat-tab-label-active:not(.mat-tab-disabled) {
    background-color: luxcommon.$lux-hover-color-for-dark-background;
  }

  div.lux-tab-title {
    font-family: Korb, "Source Code Pro", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
  }
}

// Tabs innerhalb einer LUX-Card
mat-card lux-tabs {
  .mat-tab-label-active:not(.mat-tab-disabled) {
    background-color: luxcommon.$lux-hover-color-for-dark-background;
  }
}

/*
 * Theming für LUX-Radio-Buttons
 */
lux-radio {
  .mat-radio-outer-circle {
    border: 1.5px solid map.get(luxpalette.$lux-palette_primary, 500);
  }

  .mat-radio-inner-circle {
    // Checkmark-Symbol mit css gezeichnet, anstatt des inneren Kreises
    border-radius: 2px;
    background-color: transparent !important;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    height: 32px;
    width: 14px;
    margin-top: -8px;
    margin-left: 3px;
  }

  .mat-radio-checked {
    .mat-radio-outer-circle {
      background: map.get(luxpalette.$lux-palette_primary, 500);
    }

    &.mat-radio-disabled .mat-radio-outer-circle {
      background: luxcommon.$dark-disabled-text;
      border: none;
    }

    &.mat-radio-disabled label .mat-radio-container {
      span.mat-radio-inner-circle {
        background-color: luxcommon.$dark-disabled-text;
      }

      span.mat-radio-outer-circle {
        border-color: luxcommon.$dark-disabled-text;
      }
    }
  }

  .mat-radio-disabled label.mat-radio-label {
    .mat-radio-label-content {
      color: luxcommon.$dark-disabled-text;
    }

    .mat-radio-container {
      span.mat-radio-inner-circle {
        background-color: luxcommon.$dark-disabled-text;
      }

      span.mat-radio-outer-circle {
        border-color: luxcommon.$dark-disabled-text;
      }
    }
  }

  .mat-radio-checked .mat-radio-inner-circle {
    transform: rotate(45deg) scale(0.4);
  }

  .mat-radio-button .mat-radio-ripple {
    height: 20px; /*double of your required circle radius*/
    width: 20px; /*double of your required circle radius*/
    left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
    top: calc(50% - 10px); /*'10px'-same as your required circle radius */
  }
}

/* 
 * Mixin für den Datepicker und Datetimepicker
 */
@mixin datepicker-content {
  .mat-calendar-content {
    padding: 0px 10px 10px 10px;

    th {
      font-size: 18px;
      color: map.get(luxpalette.$lux-palette_primary, 500);
    }

    td.mat-calendar-body-cell-container {
      &:after {
        background-color: white;
      }

      &:hover > div {
        border-radius: 2px;
        background-color: map.get(luxpalette.$lux-palette_accent, 300) !important;
        color: map.get(luxpalette.$lux-palette_primary, 500);
      }

      .mat-calendar-body-cell-content.mat-focus-indicator {
        border-radius: 2px;
        font-size: 18px;
        background-color: $light-blue;
        color: map.get(luxpalette.$lux-palette_primary, 500);

        &.mat-calendar-body-selected {
          background-color: map.get(luxpalette.$lux-palette_primary, 500);
          color: $light-blue;
        }
      }
    }

    // Ausblenden des zusätzlichen Monatslabels
    .mat-calendar-body-label:not(:last-of-type) {
      visibility: hidden;
    }

    .mat-calendar-body-label:last-of-type,
    th.mat-calendar-table-header-divider {
      display: none;
    }
  }
}

/*
* Theming für Lux-Datepicker-Custom-Header 
*/
.lux-datepicker-custom-header-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 18px 10px;

  button,
  .mat-icon-button {
    font-size: 18px;
    color: map.get(luxpalette.$lux-palette_primary, 500);

    .mat-button-focus-overlay {
      display: none;
    }

    &:focus {
      @include luxfocus.focus-dark-mixin;
    }

    &:hover {
      @include luxfocus.lux-hovered-mixin;
    }
  }
}

/*
* Theming für Lux-Datepicker 
*/
.lux-datepicker-panel {
  .mat-calendar.mat-datepicker-content {
    min-height: 350px;
  }
  @include datepicker-content();
}

/*
* Theming für Lux-Datetime-Picker 
*/
.lux-datetime-overlay-content {
  .mat-calendar.lux-datetime-overlay-calendar {
    min-height: 340px;
  }
  @include datepicker-content();
}

/*
 * Theming for LUX-Filter-Form
 */
lux-filter-form lux-accordion {
  lux-menu {
    .lux-menu-trigger button.mat-button {
      height: 45px;
    }
  }
  .mat-expansion-panel-header.mat-expanded {
    height: 60px !important;
  }
}

/*
 * Theming for LUX-Master-Detail-ac
 */
.lux-master-detail-ac {
  .lux-master-header-container-ac lux-button.master-light-toggle {
    right: -23px;
  }

  .lux-detail-header-ac {
    mat-card.mat-card {
      @include luxelevations.lux-elevation-z0;
    }
  }

  .lux-master-ac-container {
    padding: 2px 0 2px 2px;
    &.lux-master-closed {
      flex: 1 1 30px !important;
      max-width: 30px !important;
      min-width: 30px !important;
    }
  }

  lux-master-footer-ac {
    margin-bottom: 4px;
    border: none;
    @include luxelevations.lux-elevation-z2;
  }
}

/**
* Theming für Lux-Formcontrols-AC
*/
lux-form-control-wrapper .lux-form-control-wrapper {
  margin: 2px 0px;

  .lux-form-control-label-authentic {
    margin: 0 0 4px 0;
    font-size: luxcommon.$form-control-font-size-small;
    height: 15px;
  }

  .lux-form-control-misc-authentic {
    margin: 4px 0 0 0;
    min-height: 17px;
    font-size: luxcommon.$form-control-font-size-small;
    mat-hint {
      color: luxpalette.$lux-primary-color;
    }
  }

  .lux-form-control-container-authentic {
    padding: 10px 5px;
    line-height: 1;
    border-color: luxcommon.$form-border-color;

    .lux-input-row-authentic {
      min-height: unset;
      height: 18px;
      color: luxpalette.$lux-primary-color;
    }

    &.lux-no-input-row {
      font-size: luxcommon.$form-control-font-size;
      font-family: luxcommon.$app-font-family;
      padding: 8px 0;
      height: 40px;
    }
  }

  // Definitionen der einzelnen States der Form-Controls
  &:hover:not(.lux-form-control-disabled-authentic):not(.lux-focused-authentic):not(.lux-form-control-error-authentic) {
    .lux-form-control-container-authentic:not(.lux-no-input-row) {
      box-shadow: none;
    }
  }
  &.lux-focused-authentic {
    .lux-form-control-label-authentic > * {
      color: luxpalette.$lux-primary-color;
    }
    .lux-form-control-container-authentic:not(.lux-no-input-row) {
      border-color: luxcommon.$lux-selected-border-color;
      box-shadow: 0 0 0 2px luxcommon.$lux-selected-border-color, 0 0 4px 2px luxcommon.$lux-selected-border-color;
    }
  }

  &.lux-form-control-error-authentic:not(.lux-form-control-disabled-authentic) {
    .lux-form-control-label-authentic > * {
      color: map.get(luxpalette.$lux-palette_warn, 500);
    }
    .lux-form-control-container-authentic:not(.lux-no-input-row) {
      border-color: luxpalette.$lux-warn-color;
      box-shadow: 0 0 0 2px luxpalette.$lux-warn-color, 0 0 4px 2px luxpalette.$lux-warn-color;
    }
  }

  &.lux-form-control-disabled-authentic {
    .lux-form-control-container-authentic,
    .lux-form-control-label-authentic,
    .lux-form-control-misc-authentic > * {
      color: luxcommon.$dark-disabled-text;
    }

    .lux-form-control-container-authentic:not(.lux-no-input-row) {
      border-style: dashed;
      border-color: luxcommon.$dark-disabled-text;
      .mat-input-element::placeholder {
        color: luxcommon.$dark-disabled-text;
      }
    }
  }

  &.lux-form-control-readonly-authentic,
  &.lux-form-control-disabled-authentic {
    pointer-events: none;
  }
}

/*
* Theming für LUX-Checkbox-ac
*/
lux-checkbox-ac {
  .mat-checkbox-inner-container {
    .mat-checkbox-frame {
      border-radius: 4px;
      border: 1px solid map.get(luxpalette.$lux-palette_primary, 500);
    }

    .mat-checkbox-background,
    .mat-checkbox-checkmark {
      border-radius: 4px;
    }
  }
}

/*
* Theming für LUX-Radio-ac
*/
lux-radio-ac {
  & lux-form-control-wrapper .lux-form-control-wrapper .lux-form-control-container-authentic.lux-no-input-row {
    padding: 10px 0;
    height: auto;
  }

  .mat-radio-outer-circle {
    border: 1.5px solid map.get(luxpalette.$lux-palette_primary, 500);
  }

  .mat-radio-inner-circle {
    // Checkmark-Symbol mit css gezeichnet, anstatt des inneren Kreises
    border-radius: 2px;
    background-color: transparent !important;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    height: 32px;
    width: 14px;
    margin-top: -8px;
    margin-left: 3px;
  }

  .mat-radio-checked {
    .mat-radio-outer-circle {
      background: map.get(luxpalette.$lux-palette_primary, 500);
    }

    &.mat-radio-disabled .mat-radio-outer-circle {
      background: luxcommon.$dark-disabled-text;
      border: none;
    }
  }

  .mat-radio-checked .mat-radio-inner-circle {
    transform: rotate(45deg) scale(0.4);
  }

  .mat-radio-button {
    .mat-radio-label-content {
      line-height: normal;
    }
    .mat-radio-ripple {
      height: 20px; /*double of your required circle radius*/
      width: 20px; /*double of your required circle radius*/
      left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
      top: calc(50% - 10px); /*'10px'-same as your required circle radius */
    }
  }
}

/*
* Theming für LUX-datepicker-ac und LUX-datetimepicker-ac
*/
lux-datepicker-ac,
lux-datetimepicker-ac {
  mat-datepicker-toggle {
    height: 18px !important;
    width: 18px !important;

    .mdc-icon-button.mat-mdc-icon-button.mat-mdc-button-base {
      height: 18px !important;
      width: 18px !important;
      line-height: 1.5;
      font-size: inherit;

      lux-icon.lux-datepicker-toggle-icon,
      mat-icon.mat-icon {
        display: inline-flex;
        height: 18px !important;
        width: 18px !important;
        padding: 0px !important;
      }

      svg {
        height: 18px;
        width: 18px;
      }

      &.mat-button-disabled {
        svg {
          color: luxcommon.$dark-disabled-text;
        }
      }
    }

    button:hover lux-icon.lux-datepicker-toggle-icon.lux-color-blue {
      color: map-get(luxpalette.$lux-palette_primary, 300);
    }
  }
}

.cdk-overlay-pane .mat-datepicker-content,
.lux-datetimepicker-overlay .mat-card.lux-card {
  margin: 11px -6px;
}

/*
* Theming für LUX-select-ac und LUX-lookup-combobox-ac
*/
lux-select-ac,
lux-lookup-combobox-ac {
  mat-select {
    height: 18px !important;
  }
  .mat-select-value {
    line-height: normal;
  }
}

/*
* Theming für LUX-file-input und LUX-file-input-ac
*/
lux-file-input,
lux-file-input-ac {
  .lux-menu-extended {
    gap: 4px;
    lux-button button.lux-button lux-icon.lux-button-icon:not(.lux-button-icon-round).lux-lx-icon {
      height: 14px;
      width: 14px;
      font-size: 14px;
    }
  }
}

/*
* Theming für LUX-file-list
*/
lux-file-list {
  .lux-menu-extended {
    gap: 4px;
    .lux-menu-item,
    .lux-menu-trigger {
      lux-icon mat-icon.lux-lx-icon-no-size {
        font-size: 16px !important;
      }
    }
  }
}

/*
* Theming für LUX-textarea-ac
*/
lux-textarea-ac {
  textarea {
    min-height: 18px;
    line-height: normal;
  }
}

lux-checkbox-container-ac {
  .lux-checkbox-container {
    row-gap: 6px;
  }
  .lux-label-container {
    margin: 0 0 0.25em 0;
  }
  lux-checkbox-ac lux-form-control-wrapper .lux-form-control-wrapper .lux-form-control-container-authentic.lux-no-input-row {
    height: auto;
  }
}
