@import "luxpalette";
@import "../public/global";
$app-font-family: "Source Sans Pro", "Helvetica", "Arial", "sans-serif";
$outline-width: 1px;
@import "luxcommon";
@import "../base/luxcomponents";
$lux-hover-color: #e3ebf5;
@import "../base/luxfocus";
@import "../base/luxstyles";
@import "../../node_modules/@angular/material/theming";
@import "../base/luxtheme";
@import "custom";
