// Media Queries
$mat-xsmall: 'max-width: 599px';
$mat-small: 'max-width: 959px';
$mat-medium: 'max-width: 1279px';
$mat-large: 'max-width: 1919px';
$mat-xlarge: 'max-width: 5000px';

// Font
$app-font-family: Roboto, Helvetica Neue, sans-serif;

// Fokus
$outline-width: 2px;
$outline-style: dotted;

// Für Alignment
$lux-form-control-margin: 4px;
$lux-form-control-height: 70px; //komplette Höhe mit Label/Hint
$lux-form-control-small: 30px; // Höhe ohne Label/hint
