@use "sass:color";
@use "luxcommon";
@use "../base/luxelevations";

// Tabs außerhalb einer LUX-Card (z.B. Master-Detail)
lux-tabs {
  .mat-tab-label:not(.mat-tab-disabled) {
    &:hover:not(.mat-tab-disabled) {
      background-color: luxcommon.$app-data-bg !important;
    }
  }
}

// x-Button oben rechts im Dialog-Fenster
.cdk-overlay-container{
  .lux-dialog .lux-icon-close { 
    &:hover {
      background-color: color.adjust(luxcommon.$lux-hover-color, $lightness: -10%) !important;
    }
  }
}

lux-button button.lux-button {
  font-family: luxcommon.$app-font-family;

  &.lux-icon-button {
  
    & lux-icon:not(.lux-button-icon-round) {
      line-height: 0.5;
      
      &.lux-lx-icon {
        height: 22px !important;
        width: 22px !important;
      }
      
      i.lux-fa-icon {
        font-size: 1.5em !important;
      }
      mat-icon.mat-icon.lux-material-icon:not(.lux-lx-icon, .lux-lx-icon-no-size) {
        font-size: 2em !important;
        padding: 0px !important;
        height: unset !important;
        width: unset !important;
      }
      mat-icon.mat-icon.lux-lx-icon:not(.lux-fa-icon, .lux-material-icon),
      mat-icon.mat-icon.lux-lx-icon-no-size:not(.lux-fa-icon, .lux-material-icon) {
        line-height: 0.5;
        height: 22px !important;
        width: 22px !important;
      }
    }

    &.lux-button-rounded {
      
      font-size: luxcommon.$button-font-size;
      .mat-button-wrapper {
        height: 100%;
        display: inline-flex;
        align-items: center;
        line-height: 1;
      }
    
      & lux-icon.lux-button-icon-round {
        line-height: 1;
        height: 20px;
        width: 20px;
        i,
        mat-icon.mat-icon:not(.lux-lx-icon, .lux-lx-icon-no-size) {
          font-size: 20px !important;
        }
        mat-icon.mat-icon.lux-lx-icon:not(.lux-fa-icon, .lux-material-icon),
        mat-icon.mat-icon.lux-lx-icon-no-size:not(.lux-fa-icon, .lux-material-icon) {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}

/*
 * Theming for LUX-Master-Detail-ac
 */
 .lux-master-detail-ac {

  .lux-master-header-container-ac lux-button.master-light-toggle {
    right: -23px;
  }

  .lux-detail-header-ac {
    mat-card.mat-card {
      @include luxelevations.lux-elevation-z0;
    }
  }

  .lux-master-ac-container {
    padding: 2px 0 2px 2px;
    &.lux-master-closed {
      flex: 1 1 30px !important;
      max-width: 30px !important;
      min-width: 30px !important;
    }
  }

  lux-master-footer-ac {
    margin-bottom: 4px;
    border: none;
    @include luxelevations.lux-elevation-z2
  }
 }