// Tabs außerhalb einer LUX-Card (z.B. Master-Detail)
lux-tabs {
  .mat-tab-label:not(.mat-tab-disabled) {
    &:hover:not(.mat-tab-disabled) {
      background-color: $app-data-bg !important;
    }
  }
}

/**
 * Theming für LUX-Chips
 */
.lux-chips-autocomplete-panel {
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
}
