// Allgemein
$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.65);
$dark-disabled-text: rgba(black, 0.40);
$dark-dividers: rgba(black, 0.20);
$dark-focused: rgba(black, 0.12);

$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.20);
$light-focused: rgba(white, 0.12);

// App
$app-header-bg: #335c85;
$app-content-bg: #f0f0f2;
$app-footer-bg: #c6d1dc;
$app-data-bg: #ffffff;

// Form
$form-border-color: rgba(0, 0, 0, 0.42);
$form-control-default-height-not-scalable: 30px;
$form-control-height: 24px;
$form-control-height-small: 18px;
$form-control-font-size: 15px;
$form-control-font-size-small: 12px;
$form-control-label-padding: 2px 0 0 0;
$form-control-container-padding: 6px 0 0 0;
$form-control-misc-margin: 4px 0 2px 0;
$form-control-complete-height: 70px;
$form-control-buffer: 4px;
$form-control-margin: 0px;

// Button
$button-height: 45px;
$button-fav-height: 45px;

// Fokus
$outline-color-bright: #ffffff;
$outline-color-dark: #000000;

// Hover
$lux-hover-color: #f2f2f2;
$lux-hover-color-for-dark-background: #335c85;

// Selektion
$lux-selected-border-color: #0073b3;
$lux-selected-bg-color: #e2e8ee;

// Stepper (large)
$lux-stepper-large-backdrop-bg: #636d76;
$lux-stepper-large-completed-fc: #2E8533;

$lux-stepper-large-nav-item-active-fc: #ffffff;
$lux-stepper-large-nav-item-active-bg: #003366;
$lux-stepper-large-nav-item-disabled-fg: #003366;
$lux-stepper-large-nav-item-disabled-bg: #eff3f6;
$lux-stepper-large-nav-item-completed-fg: #ffffff;
$lux-stepper-large-nav-item-completed-bg: #2E8533;

// Hintergrundfarben (z.B. Badge oder Progress)
$componentBgColors: (
  "red": #b01211,
  "green": #3e8320,
  "purple": #9900B8,
  "blue": #00569a,
  "gray": $dark-secondary-text,
  "orange": #c75000,
  "brown": #783f04,
  "black": $dark-primary-text,
  "white": #ffffff
);

// Vordergrundfarben (z.B. Badge)
$componentFontColors: (
  black: #000000,
  white: #ffffff
);

// Farben für einen dunklen Hintergrund (z.B. Snackbar).
$colorsForDarkBg: (
  "red": #f17474,
  "green": #53b12b,
  "purple": #e561ff,
  "blue": #729eca,
  "gray": #c8c8c8,
  "orange": #ec9c1b,
  "brown": #eb7c05,
  "white": #ffffff
);
