// Allgemein
$dark-primary-text: mustOverriden !default;
$dark-secondary-text: mustOverriden !default;
$dark-disabled-text: mustOverriden !default;
$dark-dividers: mustOverriden !default;
$dark-focused: mustOverriden !default;

$light-primary-text: mustOverriden !default;
$light-secondary-text: mustOverriden !default;
$light-disabled-text: mustOverriden !default;
$light-dividers: mustOverriden !default;
$light-focused: mustOverriden !default;

// App
$app-header-bg: mustOverriden !default;
$app-content-bg: mustOverriden !default;
$app-footer-bg: mustOverriden !default;
$app-data-bg: mustOverriden !default;
$app-gradient: mustOverriden !default;
$app-gradient-reverse: mustOverriden !default;
$app-border-color: mustOverriden !default;
$app-headline-font: mustOverriden !default;
$app-font-family: mustOverriden !default;
$app-border-radius: mustOverriden !default;

// Form
$form-border-color: mustOverriden !default;
$form-control-font-size: mustOverriden !default;
$form-control-buffer: mustOverriden !default;

// Button
$button-height: mustOverriden !default;
$button-fav-height: mustOverriden !default;
$button-font-size: mustOverriden !default;

// Fokus
$outline-width: mustOverriden !default;
$outline-style: mustOverriden !default;
$outline-color-bright: mustOverriden !default;
$outline-color-dark: mustOverriden !default;

// Hover
$lux-hover-color: mustOverriden !default;
$lux-hover-color-for-dark-background: mustOverriden !default;

// Selektion
$lux-selected-border-color: mustOverriden !default;
$lux-selected-bg-color: mustOverriden !default;

// Stepper (large)
$lux-stepper-large-backdrop-bg: mustOverriden !default;
$lux-stepper-large-completed-fc: mustOverriden !default;

$lux-stepper-large-nav-item-active-fc: mustOverriden !default;
$lux-stepper-large-nav-item-active-bg: mustOverriden !default;
$lux-stepper-large-nav-item-disabled-fg: mustOverriden !default;
$lux-stepper-large-nav-item-disabled-bg: mustOverriden !default;
$lux-stepper-large-nav-item-completed-fg: mustOverriden !default;
$lux-stepper-large-nav-item-completed-bg: mustOverriden !default;

// Overlay
$lux-overlay-backdrop-color: mustOverriden !default;

// Options in Panels (z.B. Select, AutoComplete und Menu)
$lux-panel-option-min-height: mustOverriden !default;
$lux-panel-option-padding: mustOverriden !default;

// Hintergrundfarben (z.B. Badge oder Progress)
$componentBgColors: (
  "red": mustOverriden,
  "green": mustOverriden,
  "purple": mustOverriden,
  "blue": mustOverriden,
  "gray": mustOverriden,
  "orange": mustOverriden,
  "brown": mustOverriden,
  "black": mustOverriden,
  "white": mustOverriden
) !default;

// Vordergrundfarben (z.B. Badge)
$componentFontColors: (
  black: mustOverriden,
  white: mustOverriden
) !default;

// Farben für einen dunklen Hintergrund (z.B. Snackbar).
$colorsForDarkBg: (
  "red": mustOverriden,
  "green": mustOverriden,
  "purple": mustOverriden,
  "blue": mustOverriden,
  "gray": mustOverriden,
  "orange": mustOverriden,
  "brown": mustOverriden,
  "white": mustOverriden
) !default;

// Tile
$lux-tile-font-hover-color: mustOverriden !default;
$lux-tile-icon-color: mustOverriden !default;
$lux-tile-borderradius: mustOverriden !default;
$lux-tile-bottom-line-color: mustOverriden !default;
