$lux-primary: mat-palette($lux-palette_primary);
$lux-accent: mat-palette($lux-palette_accent);
$lux-warn: mat-palette($lux-palette_warn);
$lux-theme: mat-light-theme($lux-primary, $lux-accent, $lux-warn);

@include mat-core();
@include angular-material-theme($lux-theme);
