@use "sass:color";
@use "sass:map";
@use "luxcommon";
@use "luxpalette";
@use "../public/global";
@use "../base/luxSvgIcons" as luxicons;

/*
  Dieses Partial-SCSS dient der Verwaltung der Styles f체r Fokus, Hover und Selected f체r die LUX-Components und
  die ihnen zugrunde liegenden Material Components.
*/

// Fokus
$outline-dark: luxcommon.$outline-width luxcommon.$outline-style luxcommon.$outline-color-dark !important;
$outline-bright: luxcommon.$outline-width luxcommon.$outline-style luxcommon.$outline-color-bright !important;

@mixin focus-dark-mixin {
  outline: $outline-dark;
}

@mixin focus-dark-mixin-inline {
  // der Focus um Elemente in Panels wird mit negativen Margin nach in das Element verlegt
  // damit wird er nicht mehr am Rand abgeschnitten oder verdeckt
  outline: $outline-dark;
  outline-offset: -(luxcommon.$outline-width);
}

@mixin focus-bright-mixin {
  outline: $outline-bright;
}

@mixin lux-button-focus {
  $width: calc(#{luxcommon.$outline-width} - 1px);
  outline: $width luxcommon.$outline-style luxcommon.$outline-color-dark !important;
  outline-offset: 1px;
}

@mixin lux-selectable-mixin {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin lux-selected-mixin {
  background-color: luxcommon.$lux-selected-bg-color !important;
  position: relative;
  border-radius: 4px;

  &:after {
    content: "";
    left: 0;
    width: 6px;
    top: 0;
    bottom: 0;
    position: absolute;
    border-left: 4px solid luxcommon.$lux-selected-border-color;
    border-radius: 4px 0 0 4px;
  }
}

@mixin lux-selected-mixin-ac {
  background: luxcommon.$app-gradient;
  background-color: #fff;
  border: 1px solid map.get(luxpalette.$lux-palette-primary, 500);
  box-shadow: 0 0 0 1px var(--lux-theme-primary-500) inset;
  position: relative;
  border-radius: 4px;
}
@mixin lux-selected-mixin-reverse-ac {
  background: luxcommon.$app-gradient-reverse;
  background-color: #fff;
  border: 1px solid map.get(luxpalette.$lux-palette-primary, 500);
  box-shadow: 0 0 0 1px var(--lux-theme-primary-500) inset;
  position: relative;
  border-radius: 4px;
}

@mixin lux-selected-bottom-mixin {
  position: relative;

  &:after {
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-bottom: 4px solid luxcommon.$lux-selected-border-color;
  }
}

@mixin lux-hovered-mixin {
  background-color: luxcommon.$lux-hover-color !important;
  border-radius: 4px;
}

@mixin lux-hovered-mixin-inverted {
  color: #fff;
  background-color: luxcommon.$lux-hover-color;
}

/** ########## Green ########## **/
@mixin lux-hovered-mixin-green {
  background-color: #e3ebf5 !important;
  border-radius: 4px;
}

$dark-green: #2e8533;

@mixin lux-focus-mixin-green {
  box-shadow:
    0 0 0 2px $dark-green,
    0 0 8px 2px $dark-green !important;
  outline: 0 !important;
}

/** ########## Chips ########## **/
lux-chips-ac {
  mat-chip-row.cdk-focused:not(.cdk-mouse-focused):not(.cdk-program-focused) {
    @include focus-dark-mixin;
  }

  .mat-mdc-chip-focus-overlay {
    transition: none;
  }

  lux-icon:focus-visible mat-icon {
    @include focus-dark-mixin;
    border-radius: 15px;
  }

  .mat-mdc-chip-set-stacked {
    .mat-mdc-chip {
      width: auto !important;
    }

    .lux-chip-container {
      width: 100%;
    }
  }
}

/** ########## Form-Control ########## **/
.lux-form-control-wrapper {
  &.lux-focused-authentic .cdk-keyboard-focused {
    .mdc-switch__track {
      @include focus-dark-mixin;
    }
  }
}

lux-icon.lux-error-icon:focus-visible {
  @include focus-dark-mixin;
}

/** ########## Datepicker ########## **/
lux-datepicker-ac,
lux-datetimepicker-ac {
  mat-datepicker-toggle {
    button:focus-visible {
      @include focus-dark-mixin;
      outline-offset: 2px;
      border-radius: 2px;
    }

    button:hover {
      lux-icon.lux-datepicker-toggle-icon.lux-color-blue {
        color: luxcommon.$lux-hover-color;
      }
    }
    .mat-mdc-button-persistent-ripple::before {
      display: none;
    }
  }
}

// Class, welche das aufgeklappte Panel referenziert
.lux-datepicker-panel {
  .mat-calendar-header {
    button {
      &:focus-visible {
        @include focus-dark-mixin;
      }

      &:hover {
        @include lux-hovered-mixin;
      }
    }
  }

  .mat-calendar-content {
    td.mat-calendar-body-cell {
      &:hover > div {
        @include lux-hovered-mixin;
        border-radius: 999px;
        color: luxcommon.$dark-primary-text;
      }

      &.mat-calendar-body-active .mat-calendar-body-cell-content {
        @include focus-dark-mixin;
      }
    }
  }
}

/** ########## Datetimepicker ########## **/
// Class, welche das aufgeklappte Panel referenziert
.lux-datetimepicker-overlay {
  .mat-calendar-header {
    button {
      &:focus-visible {
        @include focus-dark-mixin;
      }

      &:hover {
        @include lux-hovered-mixin;
      }
    }
  }

  .mat-calendar-content {
    td.mat-calendar-body-cell {
      &:hover > div {
        @include lux-hovered-mixin;
        border-radius: 999px;
        color: luxcommon.$dark-primary-text;
      }

      &.mat-calendar-body-active .mat-calendar-body-cell-content {
        @include focus-dark-mixin;
      }
    }
  }
}

/** ########## Autocomplete-AC ########## **/
.lux-autocomplete-panel-ac {
  mat-option {
    &.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled),
    &.mat-mdc-option:hover:not(.mdc-list-item--disabled),
    &.mat-mdc-option:focus-visible:not(.mdc-list-item--disabled),
    &.mat-mdc-option.mat-mdc-option-active:not(.mdc-list-item--disabled) {
      background-color: luxcommon.$lux-hover-color;

      .mdc-list-item__primary-text {
        color: #ffffff;
      }
    }

    &.mat-mdc-option.mat-mdc-option-active:not(.mdc-list-item--disabled) {
      @include focus-dark-mixin-inline;
    }
  }
}

/** ########## Select-AC ########## **/
@mixin lux-option-highlight-mixin {
  background-color: map-get(luxpalette.$lux-palette_primary, 300);
  color: #ffffff;
  .mat-pseudo-checkbox {
    color: #ffffff;
  }
  .mat-pseudo-checkbox-checked {
    background-color: #ffffff;
  }
  .mat-pseudo-checkbox-checked::after {
    border-color: map.get(luxpalette.$lux-palette_primary, 500) !important;
  }
}

.lux-select-panel-ac,
.lux-select-panel-ac-multiple {
  mat-option {
    &.mat-mdc-option-multiple:hover:not(.mdc-list-item--disabled),
    &.mat-mdc-option-multiple:focus-visible:not(.mdc-list-item--disabled),
    &.mat-mdc-option-multiple.mat-mdc-option-active:not(.mdc-list-item--disabled) {
      background-color: luxcommon.$lux-hover-color;

      .mat-pseudo-checkbox-full {
        background-color: luxcommon.$lux-hover-color;
        border-color: #ffffff;

        &.mat-pseudo-checkbox-checked {
          background-color: #ffffff;
          &::after {
            color: luxcommon.$lux-hover-color;
          }
        }
      }

      .mdc-list-item__primary-text {
        color: #ffffff;
      }
    }

    &.mat-mdc-option-multiple.mat-mdc-option-active:not(.mdc-list-item--disabled) {
      background-color: luxcommon.$lux-hover-color;
      @include focus-dark-mixin-inline;
    }

    &.mat-mdc-option:hover:not(.mdc-list-item--disabled),
    &.mat-mdc-option:focus-visible:not(.mdc-list-item--disabled),
    &.mat-mdc-option.mat-mdc-option-active:not(.mdc-list-item--disabled) {
      .mdc-list-item__primary-text {
        color: #ffffff;
      }
    }

    &.mat-mdc-option.mat-mdc-option-active:not(.mdc-list-item--disabled) {
      @include focus-dark-mixin-inline;
    }
  }
}

/** ########## Html ########## **/
lux-html {
  & a[href]:focus-visible {
    @include focus-dark-mixin;
  }
}

/** ########## Panel ########## **/
lux-panel {
  mat-expansion-panel-header:not([aria-disabled="true"]) {
    &:focus-visible {
      //background-color: white !important;
      @include focus-dark-mixin-inline;
    }
  }
}

/** ########## File-List ########## **/
lux-file-list {
  .lux-file-list {
    &:focus-visible {
      @include focus-dark-mixin;
      border-radius: 4px;
    }

    .lux-file-list-entry {
      &:focus-visible {
        @include focus-dark-mixin;
      }
    }
  }
}

/** ########## Example-Root ########## **/
example-root {
  .example-base-components-list {
    mat-expansion-panel-header,
    .example-component-list-item {
      @include lux-selectable-mixin;

      &.example-component-list-item-selected {
        @include lux-selected-mixin;
      }

      &:focus-visible {
        @include focus-dark-mixin-inline;
      }

      &:hover {
        @include lux-hovered-mixin;
      }
    }
  }
}

/** ########## Stepper large ########## **/
lux-stepper-large {
  .lux-stepper-large-nav-item {
    // Links allgemein
    a {
      &:focus-visible {
        outline: none;
      }

      &.lux-focused {
        outline: $outline-dark;
      }
    }

    // Link ausgew채hlt
    &.lux-active {
      .lux-stepper-large-nav-item-label-container {
        a.lux-stepper-large-nav-item-label-link {
          cursor: text;
          &:hover {
            color: luxpalette.$lux_primary-color;
          }
        }
      }
    }

    // Links nicht ausgew채hlt
    &:not(.lux-active) {
      &:not(.lux-completed) {
        .lux-stepper-large-nav-item-label-container {
          a.lux-stepper-large-nav-item-label-link {
            &:hover {
              color: #2e8533;
            }
          }
        }
      }

      &.lux-completed {
        .lux-stepper-large-nav-item-label-container {
          a.lux-stepper-large-nav-item-label-link {
            &:hover {
              color: #56bd66;
            }
          }
        }
      }
    }
  }
}

/** ########## File-Upload ########## **/
.lux-file-upload-drop-container {
  margin-left: luxcommon.$outline-width;
  margin-right: luxcommon.$outline-width;

  &:focus-visible {
    outline: $outline-dark;
  }
}
